@import '@common.blocks/header/header'
@import '@common.blocks/footer/footer'
@import '@common.blocks/footer-creative/footer-creative'


html
    background-color: #F4F4F6

.logo
    position: absolute
    top: 30px
    left: 30px

.headers-and-footers
    padding: 140px 0
    &__header
        margin-bottom: 40px
    &__footer-creative
        margin-top: 40px
        display: flex
        justify-content: center
