@import '@blocks/header/header'
@import '@blocks/footer/footer'
@import '@blocks/footer-creative/footer-creative'


body
    background-color: #F4F4F6

.logo
    position: absolute
    top: 30px
    left: 30px

.headers-and-footers
    padding: 140px 0

.headers-and-footers__header
    margin-bottom: 40px
.headers-and-footers__footer-creative
    margin-top: 40px
    display: flex
    justify-content: center

