extends ../../../templates/ui-kit


include ../../../blocks/header/header
include ../../../blocks/footer/footer
include ../../../blocks/footer-creative/footer-creative


block vars
    - const name = 'headers-and-footers'


block content
    .headers-and-footers
        .headers-and-footers__header
            +header(false, 0)
        .headers-and-footers__header
            +header('Юлий Цезарь', 0)

        .headers-and-footers__footer
            +footer
        .headers-and-footers__footer-creative
            +footer-creative

