extends ../../../templates/website-pages

include ../../../common.blocks/dropdown/dropdown
include ../../../common.blocks/items-counter/items-counter
include ../../../common.blocks/date-picker/date-picker
include ../../../common.blocks/range-slider/range-slider
include ../../../common.blocks/checkbox-buttons/checkbox-buttons
include ../../../common.blocks/expandable-checkboxes/expandable-checkboxes
include ../../../common.blocks/room-card/room-card
include ../../../common.blocks/heading/heading
include ../../../common.blocks/pagination/pagination


block vars
    - const title = 'Search room'

block content
    main.search-room
        .container
            .search-room__container
                form.search-room__params
                    .search-room__params-date
                        +dropdown({
                            title: 'Даты пребывания в отеле',
                            inputOptions: {
                                value: '19 авг - 23 авг',
                                placeholder: 'Дата',
                            },
                            popupMixinOptions: {
                                name: 'date-picker',
                                params: {
                                    dateFormat: 'd M',
                                    initialDate: ['2019.08.19', '2019.08.23'],
                                },
                            },
                            isShort: true,
                            defaultInputValue: 'Даты пребывания в отеле',
                        })

                    .search-room__params-guests
                        +dropdown({
                            title: 'Гости',
                            inputOptions: {
                                value: '3 гостя, 1 младенец',
                                placeholder: 'Удобства',
                            },
                            popupMixinOptions: {
                                name: 'items-counter',
                                params: {
                                    items: [
                                        {
                                            name: 'Взрослые',
                                            value: 3,
                                        },
                                        {
                                            name: 'Дети',
                                            value: 0,
                                        },
                                        {
                                            name: 'Младенцы',
                                            value: 1,
                                            nameDeclensions: ['младенец', 'младенца', 'младенцев'],
                                        },
                                    ],
                                    withoutButtons: true,
                                    wordForValueTextReplacing: ['гость', 'гостя', 'гостей'],
                                    itemIndexForSeparateCount: 2,
                                },
                            },
                            isShort: true,
                            defaultInputValue: 'Сколько гостей',
                        })

                    .search-room__params-price
                        +range-slider('Диапазон цены', 'Стоимость за сутки пребывания в номере')
                    .search-room__params-rules
                        .search-room__subtitle
                            +heading({ text: 'Правила дома' })
                        +checkbox-buttons({
                            items: [
                                {
                                    name: 'Можно курить',
                                    checked: false
                                },
                                {
                                    name: 'Можно с питомцами',
                                    checked: true
                                },
                                {
                                    name: 'Можно пригласить гостей<br>(до 10 человек)',
                                    checked: true
                                }
                            ],
                        })
                    .search-room__params-availability
                        .search-room__subtitle
                            +heading({ text: 'Доступность' })
                        +checkbox-buttons({
                            items: [
                                {
                                    name: 'Широкий коридор',
                                    description: 'Ширина коридоров в номере<br>не менее 91 см.',
                                    checked: false
                                },
                                {
                                    name: 'Помощник для инвалидов',
                                    description: 'На 1 этаже вас встретит специалист<br>и проводит до номера.',
                                    checked: false
                                }
                            ],
                            isRich: true
                        })
                    .search-room__params-facilities
                        +dropdown({
                            title: 'Удобства номера',
                            inputOptions: {
                                value: '2 спальни, 2 кровати...',
                                placeholder: 'Удобства'
                            },
                            popupMixinOptions: {
                                name: 'items-counter',
                                params: {
                                    items: [
                                        {
                                            name: 'Спальни',
                                            value: '2',
                                            nameDeclensions: ['спальня', 'спальни', 'спален'],
                                        },
                                        {
                                            name: 'Кровати',
                                            value: '2',
                                            nameDeclensions: ['кровать', 'кровати', 'кроватей'],
                                        },
                                        {
                                            name: 'Ванные комнаты',
                                            value: '0',
                                            nameDeclensions: ['ванная комната', 'ванные комнаты', 'ванных комнат'],
                                        },
                                    ],
                                    withoutButtons: true,
                                },
                            },
                            isShort: true,
                            defaultInputValue: 'Удобства',
                        })

                    .search-room__params-list
                        +expandable-checkboxes({
                            title: 'Дополнительные удобства',
                            items: [
                                {
                                    name: 'Завтрак',
                                    checked: false
                                },
                                {
                                    name: 'Письменный стол',
                                    checked: true
                                },
                                {
                                    name: 'Стул для кормления',
                                    checked: true
                                },
                                {
                                    name: 'Кроватка',
                                    checked: true
                                },
                                {
                                    name: 'Телевизор',
                                    checked: false
                                },
                                {
                                    name: 'Шампунь',
                                    checked: false
                                }
                            ]
                        })


                article.search-room__rooms
                    .search-room__rooms-title
                        +heading({
                            type: 'h1',
                            text: 'Номера, которые мы для вас подобрали'
                        })
                    ul.search-room__room-cards
                        each _, i in Array(12)
                            -
                                const images = [];
                                for (let d = 1; d <= 4; d += 1) {
                                    const imageNumber = i + d > 12 ? i + d - 12 : i + d;
                                    images.push(`images/room-img_${imageNumber}.jpg`);
                                }
                            li.search-room__room-card
                                +room-card({
                                    imagesSrc: images,
                                    roomInfo: {
                                        number: 888,
                                        type: Math.random() > 0.85 ? 'Люкс' : 'Люкс',
                                        price: (Math.floor(Math.random() * (16000 - 5000)) + 5000).toLocaleString('ru'),
                                    },
                                    numOfComments: Math.floor(Math.random() * 1000),
                                    hasSliderArrows: i === 0,
                                    rating: Math.floor(Math.random() * 5) + 1,
                                })

                    .search-room__pagination
                        +pagination('1 – 12 из 100+ вариантов аренды')
