@import '@/styles/colors'

.search-room
  position: relative

  &:after
    content: ''
    height: 1px
    width: 100%
    position: absolute
    left: 0
    bottom: 0
    background-color: $dark-shade-25

  &__container
    padding-top: 30px
    display: grid
    grid-template-columns: 266px 1fr
    grid-column-gap: 60px

    @media (max-width: 800px)
      display: grid
      grid-template-columns: 1fr
      grid-row-gap: 120px

  &__room-cards
    margin: 0
    padding: 21px 0 0
    list-style: none
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-column-gap: 12px
    grid-row-gap: 20px

    @media (max-width: 1200px)
      grid-template-columns: 1fr 1fr

    @media (max-width: 1000px)
      grid-template-columns: 1fr

  &__subtitle
    margin-bottom: 16px

  &__params
    &-date
      margin-bottom: 20px
      position: relative
      z-index: 2

    &-guests
      margin-bottom: 30px

    &-price
      margin-bottom: 30px

    &-rules
      margin-bottom: 30px

    &-availability
      margin-bottom: 30px

    &-facilities
      margin-bottom: 16px

  &__pagination
    margin-top: 37px
    margin-bottom: 73px
    margin-right: 13px
    display: flex
    justify-content: center
