@import '@blocks/header/header'
@import '@blocks/footer/footer'

@import '@blocks/cards/room-card/room-card'


.search-room
    position: relative
    &:after
        content: ''
        height: 1px
        width: 100%
        position: absolute
        left: 0
        bottom: 0
        background-color: $dark-shade-25
    &__container
        display: flex


    &__params
        width: 266px
        height: 100%
        margin-right: 60px
        display: inline-block

    &__params-date, &__params-price, &__params-checkboxes
        margin-top: 30px

    &__params-guests
        margin-top: 20px

    &__params-rich-checkboxes
        margin-top: 22px

    &__params-facilities
        margin-top: 21px

    &__params-list
        margin-top: 29px


    &__rooms-section
        display: inline-block
        height: 100%

    &__title
        margin-top: 30px

    &__room-cards
        margin-top: 21px
        display: flex
        flex-wrap: wrap
        width: 100%
        justify-content: space-between
        margin-bottom: 20px
        .room-card
            margin-bottom: 19.5px

    &__pagination
        width: 100%
        display: flex
        justify-content: center
        margin-bottom: 73px
        box-sizing: border-box
        padding-right: 12px


@media screen and (max-width: 990px)
    .search-room
        &__container
            flex-direction: column
        &__params
            width: 100%
        &__params-date,
        &__params-guests,
        &__params-price,
        &__params-checkboxes,
        &__params-rich-checkboxes,
        &__params-facilities,
        &__params-list
            display: flex
            justify-content: center

@media screen and (max-width: 626px)
    .search-room__room-cards
        flex-direction: column
        align-items: center
