.elem-info
  display: flex
  justify-content: space-between

  &__state
    font-family: Montserrat, Arial, sans-serif
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: $dark-shade-50

  &_short
    width: 266px
