include ../heading/heading

mixin elem-info(title, state, isShort = false)
    .elem-info(class=isShort ? 'elem-info_short' : false)
        .elem-info__title
            +heading({text: title})
        if (state)
            p.elem-info__state= state
