include ../arrow/arrow


mixin navigation({items, activeLinkIndex, inColumn = false})
    -
        let className = 'navigation';
        if (inColumn) {
            className += ' navigation_in-column';
        }
    nav(class=className)
        ul.navigation__list
            each item, itemIndex in items
                -
                    const isActive = activeLinkIndex !== undefined ? (itemIndex === activeLinkIndex) : false;
                    const link = item.link || 'change-me';

                    let itemClassName = 'navigation__item';
                    if (isActive) {
                        itemClassName += ' navigation__item_active';
                    }
                    if (item.isDropdown) {
                        itemClassName += ' navigation__item_with-dropdown';
                    }

                li(class=itemClassName)
                    if (item.isDropdown)
                        div= item.name
                        .navigation__item-arrow
                            +arrow({ withoutPadding: true })
                    else
                        a.navigation__link(href=link)= item.name
