@import '@/styles/colors'
@import '@/styles/constants'

.navigation
  &__link
    text-decoration: none
    color: inherit
    background-color: transparent
    border: none
    padding: 0
    font-size: inherit
    font-family: inherit
    line-height: inherit
    display: flex
    align-items: center

  &__item
    margin-right: 20px
    display: flex
    align-items: center
    color: $dark-shade-50
    font-size: 1rem
    line-height: (17rem / $default-font-size)
    &:last-child
      margin-right: 0

    &_active
      font-weight: bold
      color: $dark-shade-75

  &__list
    padding: 0
    margin: 0
    display: flex

  &_in-column
    .navigation__list
      flex-direction: column

    .navigation__item
      margin-right: 0
      margin-top: 21px
      &:first-child
        margin-top: 0
