@import '@/sass/colors'


.room-info__number_size_small
  font-family: Montserrat, Arial, sans-serif
  font-style: normal
  font-weight: bold
  font-size: (20rem/14)
  line-height: (17rem / 14)
  color: $dark-shade-100
