.room-card
  width: 100%
  max-width: 270px
  background-color: #fff
  box-shadow: 0 10px 20px 0 $dark-shade-5
  border-radius: 5px


@import '__slider/room-card__slider'
@import '__content/room-card__content'
