.rate-button__star
  &:after
    content: 'star_border'
    background: $purple-gradient
    -webkit-text-fill-color: transparent
    -webkit-background-clip: text


@import '_active/rate-button__star_active'
