mixin rate-button__star(active)
    -
        let className = 'material-icons rate-button__star';
        if (active) {
            className += ' rate-button__star_active';
        }
    div(class=className)
