.booking-card__tooltip
  width: 20px
  height: 20px
  border-radius: 50%
  box-sizing: border-box
  border: 1px solid $dark-shade-25
  position: absolute
  left: calc(100% + 5px)
  top: 0
  display: flex
  align-items: center
  justify-content: center
  color: $dark-shade-25
  cursor: pointer
  font-family: Montserrat, Arial, sans-serif
  font-weight: bold
  font-size: (12rem / 14)
  line-height: 1rem


@media screen and (max-width: 400px)
  .booking-card__tooltip
    position: relative
    left: unset
    top: unset
