include ../heading/heading


mixin color-demo(name, hex, color)
    -
        let demoClassName = `color-demo__demo color-demo__demo_color_${color}`
    section.color-demo
        div(class=demoClassName)
        .color-demo__info
            header
                +heading({
                    type: 'h2',
                    text: name,
                })
            p.color-demo__hex= hex
