@import '@/styles/colors'
@import '@/common.blocks/heading/heading'
@import '@/common.blocks/button/button'
@import '@/common.blocks/text-field/text-field'
@import '@/common.blocks/checkbox-buttons/checkbox-buttons'
@import '@/common.blocks/radio-buttons/radio-buttons'

.signup-card
  width: 100%
  max-width: 380px
  box-sizing: border-box
  background-color: #fff
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2)
  border: 1px solid rgba(0, 0, 0, 0.12)
  border-radius: 4px
  padding: 39px 29px 29px 29px

  &__name
    margin: 21px 0 0

  &__surname
    margin-top: 10px

  &__gender
    margin-top: 10px

  &__subtitle
    margin-bottom: 5px

  &__birth
    margin-top: 24px

  &__email
    margin-bottom: 10px

  &__password
    margin-bottom: 8px

  &__login-details
    margin-top: 20px

  &__offers
    margin-bottom: 22px

  &__account-exists
    padding-left: 1px
    margin-top: 30px
    display: flex
    justify-content: space-between
    align-items: center
    color: #000
