include ../heading/heading
include ../button/button
include ../text-field/text-field
include ../toggle-button/toggle-button
include ../radio-buttons/radio-buttons


mixin signup-card
    .signup-card
        +heading({
            type: 'h1',
            text: 'Регистрация аккаунта'
        })
        .signup-card__name
            +text-field({
                inputOptions: {
                    type: 'text',
                    placeholder: 'Имя'
                }
            })
        .signup-card__surname
            +text-field({
                inputOptions: {
                    type: 'text',
                    placeholder: 'Фамилия'
                }
            })
        .signup-card__gender
            +radio-buttons({
                items: ['Мужчина', 'Женщина'],
                itemsName: 'gender'
            })
        .signup-card__birth
            .signup-card__subtitle
                +heading({
                    text: 'Дата рождения',
                    type: 'h3'
                })
            +text-field({
                inputOptions: {
                    placeholder: 'ДД.ММ.ГГГГ',
                    type: 'text',
                    isMaskedDate: true
                }
            })
        .signup-card__login-details
            .signup-card__subtitle
                +heading({
                    text: 'Данные для входа в сервис',
                    type: 'h3'
                })
            .signup-card__email
                +text-field({
                    inputOptions: {
                        type: 'email',
                        placeholder: 'Email'
                    }
                })
            .signup-card__password
                +text-field({
                    inputOptions: {
                        type: 'password',
                        placeholder: 'Пароль'
                    }
                })
        .signup-card__offers
            +toggle-button({ text: 'Получать спецпредложения' })
        +button({
            text: 'Перейти к оплате',
            link: 'landing-page.html',
            modifiers: {
                isLong: true,
                textColor: 'white'
            }
        })
        .signup-card__account-exists.js-signup-card__account-exists
            span Уже есть аккаунт на Toxin
            +button({
                text: 'Войти',
                hasLink: false,
                modifiers: {
                    isSecondary: true
                },
                withJs: true,
            })
