include ../heading/heading
include ../button/button

include __name/signup-card__name
include __surname/signup-card__surname
include __gender/signup-card__gender
include __birth/signup-card__birth
include __login-details/signup-card__login-details
include __offers/signup-card__offers
include __account-exists/signup-card__account-exists


mixin signup-card
    .signup-card
        +heading({
            type: 'h1',
            text: 'Регистрация аккаунта'
        })
        +signup-card__name
        +signup-card__surname
        +signup-card__gender
        +signup-card__birth
        +signup-card__login-details
        +signup-card__offers
        +button({
            text: 'Перейти к оплате',
            link: 'landing-page.html',
            modifiers: {
                isLong: true,
                textColor: 'white'
            }
        })
        +signup-card__account-exists
