@import '@/styles/colors'
@import '@/common.blocks/heading/heading'

.donut-chart
  display: flex

  &__votes
    margin-bottom: 3px
    position: absolute
    display: flex
    flex-direction: column
    align-items: center
    z-index: -1

  &__chart
    position: relative
    display: inline-flex
    align-items: center
    justify-content: center

  &__value
    margin-bottom: 1px

  &__item
    &:before
      content: ''
      height: 10px
      width: 10px
      margin-right: 5px
      display: inline-block
      border-radius: 50%

    &_color
      &_dark
        &:before
          background: $dark-gradient

      &_orange
        &:before
          background: $orange-gradient

      &_green
        &:before
          background: $green-gradient

      &_purple
        &:before
          background: $purple-gradient

  &__list
    display: inline-block
    list-style: none
    padding: 0
    margin: 30px 0 0 27px
