include ../../../text-field/text-field

include ../__subtitle/signup-card__subtitle


mixin signup-card__birth
    .signup-card__birth
        +signup-card__subtitle('Дата рождения')
        +text-field({
            inputOptions: {
                placeholder: 'ДД.ММ.ГГГГ',
                type: 'text',
                maskedDate: true
            }
        })
