.logo
    position: absolute
    top: 30px
    left: 30px


.form-elements-container
    display: flex
    position: relative
    padding: 143px 0 0 0

.form-elements-container__column-1, .form-elements-container__column-2, .form-elements-container__column-3
    min-width: 320px

.form-elements-container__column-2
    margin-left: 126px

.form-elements-container__column-3
    margin-left: 72px


.fields
    width: 320px


.fields__field
    margin-top: 20px
    &:nth-child(4)
        margin-top: 22.5px
    &:nth-child(5), &:nth-child(6)
        margin-top: 40px
    &:nth-child(7)
        margin-top: 41px
    &:nth-child(1)
        margin-top: 0


.switches__switch
    margin-top: 33px
    &:nth-child(1)
        margin-top: 0
    &:nth-child(3)
        margin-top: 40px
    &:nth-child(4)
        margin-top: 40px

.like-buttons__title, .rate-buttons__title
    margin-bottom: 16px


.other-elems__buttons
    margin-top: 43px

.other-elems__title
    margin-bottom: 16px

.default-buttons
    display: flex
    height: 118px
    width: 218px
    flex-wrap: wrap
    justify-content: space-between
    align-content: space-between

.icon-link-buttons
    margin-top: 30px
    display: flex
    button
        &:nth-child(1)
            margin-right: 20px

.extended-button
    margin-top: 30px


.other-elems__pagination
    margin-top: 40px
    min-width: 240px


.facilities-dropdowns__dropdown
    margin-top: 20px
    &:nth-child(1)
        margin-top: 0

.container_dropdowns
    height: 267px
    padding-top: 100px
.container_lists
    padding-top: 55px

.lists__list
    margin-top: 20px
    &:nth-child(1)
        margin-top: 0

.expandable-lists__list
    margin-top: 32px
    &:nth-child(1)
        margin-top: 0


.container_last
    padding-top: 100px
    padding-bottom: 130px
.icon-text-lists
    margin-top: -10px



