extends ../../../templates/ui-kit

include ../../../common.blocks/elem-info/elem-info
include ../../../common.blocks/text-field/text-field
include ../../../common.blocks/dropdown/dropdown
include ../../../common.blocks/items-counter/items-counter
include ../../../common.blocks/date-picker/date-picker
include ../../../common.blocks/checkbox-buttons/checkbox-buttons
include ../../../common.blocks/radio-buttons/radio-buttons
include ../../../common.blocks/toggle-button/toggle-button
include ../../../common.blocks/like-button/like-button
include ../../../common.blocks/rate-button/rate-button
include ../../../common.blocks/range-slider/range-slider
include ../../../common.blocks/button/button
include ../../../common.blocks/pagination/pagination
include ../../../common.blocks/expandable-checkboxes/expandable-checkboxes
include ../../../common.blocks/bullet-list/bullet-list
include ../../../common.blocks/icon-text-list/icon-text-list
include ../../../common.blocks/comment/comment


block vars
    - const name = 'form-elements'

block content
    -
        const facilitiesDropdownItems =
            [
                {
                    name: 'Спальни',
                    value: '2',
                    nameDeclensions: ['спальня', 'спальни', 'спален'],
                },
                {
                    name: 'Кровати',
                    value: '2',
                    nameDeclensions: ['кровать', 'кровати', 'кроватей'],
                },
                {
                    name: 'Ванные комнаты',
                    value: '0',
                    nameDeclensions: ['ванная комната', 'ванные комнаты', 'ванных комнат'],
                },
            ]

        const listCheckboxes =
            [
                {
                    name: 'Завтрак',
                    checked: false
                },
                {
                    name: 'Письменный стол',
                    checked: true
                },
                {
                    name: 'Стул для кормления',
                    checked: true
                },
                {
                    name: 'Кроватка',
                    checked: true
                },
                {
                    name: 'Телевизор',
                    checked: false
                },
                {
                    name: 'Шампунь',
                    checked: false
                },
            ]
    .container
        .form-elements
            .form-elements__elements-container
                .form-elements__field-wrapper
                    .form-elements__field-elem-info
                        +elem-info('Text field', 'default')
                    +text-field({
                        inputOptions: {
                            placeholder: 'Email',
                            type: 'email'
                        }
                    })
                .form-elements__field-wrapper
                    .form-elements__field-elem-info
                        +elem-info('Text field', 'hover / focus')
                    +text-field({
                        inputOptions: {
                            placeholder: 'This is pretty awesome',
                            type: 'text',
                            value: 'This is pretty awesome'
                        },
                        modifiers: {
                            isFocused: true
                        }
                    })
                .form-elements__field-wrapper
                    .form-elements__guests-dropdown
                        +dropdown({
                            title: 'Dropdown',
                            inputOptions: {
                                value: 'Сколько гостей',
                                placeholder: 'Сколько гостей'
                            },
                            popupMixinOptions: {
                                name: 'items-counter',
                                params: {
                                    items: [
                                        {
                                            name: 'Взрослые',
                                            value: 0
                                        },
                                        {
                                            name: 'Дети',
                                            value: 0
                                        },
                                        {
                                            name: 'Младенцы',
                                            value: 0,
                                            nameDeclensions: ['младенец', 'младенца', 'младенцев'],
                                        },
                                    ],
                                    wordForValueTextReplacing: ['гость', 'гостя', 'гостей'],
                                    itemIndexForSeparateCount: 2,
                                },
                            },
                            defaultInputValue: 'Сколько гостей',
                        })
                .form-elements__field-wrapper
                    .form-elements__field-elem-info
                        +elem-info('Masked text field')
                    +text-field({
                        inputOptions: {
                            placeholder: 'ДД.ММ.ГГГГ',
                            type: 'text',
                            isMaskedDate: true,
                        },
                    })
                .form-elements__dropdown-wrapper
                    .form-elements__date-dropdown
                        +dropdown({
                            title: 'Date dropdown',
                            inputOptions: [
                                {
                                    value: 'ДД.ММ.ГГГГ',
                                    placeholder: 'ДД.ММ.ГГГГ',
                                },
                                {
                                    value: '19.08.2019',
                                    placeholder: 'ДД.ММ.ГГГГ',
                                },
                            ],
                            popupMixinOptions: {
                                name: 'date-picker',
                                params: {
                                    isTextDouble: true,
                                },
                            },
                            isDouble: true,
                            defaultInputValue: 'ДД.ММ.ГГГГ',
                        })
                .form-elements__dropdown-wrapper
                    .form-elements__filter-date-dropdown
                        +dropdown({
                            title: 'Filter date dropdown',
                            inputOptions: {
                                value: '19 авг - 23 авг',
                                placeholder: 'Дата',
                            },
                            popupMixinOptions: {
                                name: 'date-picker',
                                params: {
                                    dateFormat: 'd M',
                                },
                            },
                            isShort: true,
                            defaultInputValue: 'Дата',
                        })
                .form-elements__field-wrapper
                    .form-elements__field-elem-info
                        +elem-info('Subscription text field')
                    +text-field({
                        inputOptions: {
                            placeholder: 'Email',
                            type: 'email',
                        },
                        arrowOptions: {
                            type: 'forward',
                            color: 'purple-gradient',
                        },
                        modifiers: {
                            isShort: true,
                        },
                    })


            .form-elements__elements-container
                .form-elements__button-wrapper
                    .form-elements__button-elem-info
                        +elem-info('Checkbox buttons')
                    +checkbox-buttons({
                        items: [
                            {
                                name: 'Можно курить',
                                checked: false
                            },
                            {
                                name: 'Можно с питомцами',
                                checked: true
                            },
                            {
                                name: 'Можно пригласить гостей<br>(до 10 человек)',
                                checked: true
                            }
                        ],
                    })
                .form-elements__button-wrapper
                    .form-elements__button-elem-info
                        +elem-info('Radio buttons')
                    +radio-buttons({
                        items: ['Мужчина', 'Женщина'],
                        itemsName: 'gender'
                    })
                .form-elements__button-wrapper
                    .form-elements__button-elem-info
                        +elem-info('Toggle')
                    .form-elements__toggle-button
                        +toggle-button({
                            text: 'Получать спецпредложения',
                            checked: true
                        })
                    .form-elements__toggle-button
                        +toggle-button({
                            text: 'Получать спецпредложения'
                        })
                .form-elements__like-buttons-wrapper
                    .form-elements__button-elem-info
                        +elem-info('Like button')
                    .form-elements__like-button
                        +like-button({
                            likesNum: 2
                        })
                    .form-elements__like-button
                        +like-button({
                            likesNum: 12,
                            isActive: true
                        })
                .form-elements__rate-buttons-wrapper
                    .form-elements__button-elem-info
                        +elem-info('Rate button')
                    .form-elements__rate-button
                        +rate-button(4)
                    .form-elements__rate-button
                        +rate-button(5)


            .form-elements__elements-container
                .form-elements__range-slider-wrapper
                    +range-slider('Range slider')
                .form-elements__button-wrapper
                    .form-elements__button-elem-info
                        +elem-info('Buttons')
                    .form-elements__button
                        +button
                    .form-elements__button
                        +button({
                            modifiers: {
                                isHovered: true
                            }
                        })
                    .form-elements__button
                        +button({
                            modifiers: {
                                isSecondary: true
                            }
                        })
                    .form-elements__button
                        +button({
                            modifiers: {
                                isSecondary: true,
                                isHovered: true
                            }
                        })
                    .form-elements__button
                        +button({
                            modifiers: {
                                withoutFrame: true,
                                textColor: 'purple'
                            }
                        })
                    .form-elements__button
                        +button({
                            modifiers: {
                                withoutFrame: true,
                                textColor: 'gray'
                            }
                        })
                    .form-elements__button
                        +button({
                            text: 'Перейти к оплате',
                            modifiers: {
                                isLong: true
                            }
                        })

                .form-elements__button-wrapper
                    .form-elements__button-elem-info
                        +elem-info('Pagination')
                    +pagination('1 &ndash; 12 из 100+ вариантов аренды')


            .form-elements__elements-container
                .form-elements__field-wrapper
                    .form-elements__facilities-dropdown
                        .form-elements__field-elem-info
                            +elem-info('Dropdown', 'Default', true)
                        +dropdown({
                            inputOptions: {
                                value: '2 спальни, 2 кровати...',
                                placeholder: 'Удобства',
                            },
                            popupMixinOptions: {
                                name: 'items-counter',
                                params: {
                                    items: facilitiesDropdownItems,
                                    withoutButtons: true,
                                },
                            },
                            isShort: true,
                            defaultInputValue: 'Удобства',
                        })
                .form-elements__field-wrapper
                    .form-elements__facilities-dropdown.form-elements__facilities-dropdown_expanded
                        .form-elements__field-elem-info
                            +elem-info('Dropdown', 'Expanded', true)
                        +dropdown({
                            inputOptions: {
                                value: '2 спальни, 2 кровати...',
                                placeholder: 'Удобства',
                            },
                            popupMixinOptions: {
                                name: 'items-counter',
                                params: {
                                    items: facilitiesDropdownItems,
                                    withoutButtons: true,
                                },
                            },
                            isShort: true,
                            popupHidden: false,
                            defaultInputValue: 'Удобства',
                        })

            .form-elements__elements-container
                .form-elements__guests-dropdown
                    +dropdown({
                        title: 'Dropdown',
                        inputOptions: {
                            value: 'Сколько гостей',
                            placeholder: 'Сколько гостей'
                        },
                        popupMixinOptions: {
                            name: 'items-counter',
                            params: {
                                items: [
                                    {
                                        name: 'Взрослые',
                                        value: 0
                                    },
                                    {
                                        name: 'Дети',
                                        value: 0
                                    },
                                    {
                                        name: 'Младенцы',
                                        value: 0,
                                        nameDeclensions: ['младенец', 'младенца', 'младенцев'],
                                    }
                                ],
                                wordForValueTextReplacing: ['гость', 'гостя', 'гостей'],
                                itemIndexForSeparateCount: 2,
                            },
                        },
                        popupHidden: false,
                        defaultInputValue: 'Сколько гостей',
                    })

            .form-elements__elements-container
                .form-elements__guests-dropdown
                    +dropdown({
                        title: 'Dropdown',
                        inputOptions: {
                            value: '3 гостя',
                            placeholder: 'Сколько гостей'
                        },
                        popupMixinOptions: {
                            name: 'items-counter',
                            params: {
                                items: [
                                    {
                                        name: 'Взрослые',
                                        value: 2
                                    },
                                    {
                                        name: 'Дети',
                                        value: 1
                                    },
                                    {
                                        name: 'Младенцы',
                                        value: 0,
                                        nameDeclensions: ['младенец', 'младенца', 'младенцев'],
                                    },
                                ],
                                wordForValueTextReplacing: ['гость', 'гостя', 'гостей'],
                                itemIndexForSeparateCount: 2,
                            },
                        },
                        popupHidden: false,
                        defaultInputValue: 'Сколько гостей',
                    })

            .form-elements__elements-container.form-elements__elements-container_with-top-margin
                .form-elements__expandable-checkboxes-wrapper
                    +expandable-checkboxes({
                        items: listCheckboxes
                    })
                .form-elements__expandable-checkboxes-wrapper
                    +expandable-checkboxes({
                        items: listCheckboxes,
                        expanded: true
                    })

            .form-elements__elements-container.form-elements__elements-container_with-top-margin
                .form-elements__rich-checkboxes-wrapper
                    .form-elements__button-elem-info
                        +elem-info('Rich checkbox buttons')
                    +checkbox-buttons({
                        items: [
                            {
                                name: 'Широкий коридор',
                                description: 'Ширина коридоров в номере<br>не менее 91 см.',
                                checked: false
                            },
                            {
                                name: 'Помощник для инвалидов',
                                description: 'На 1 этаже вас встретит специалист<br>и проводит до номера.',
                                checked: false
                            }
                        ],
                        isRich: true
                    })

            .form-elements__elements-container.form-elements__elements-container_with-top-margin
                .form-elements__bullet-list-wrapper
                    .form-elements__bullet-elem-info
                        +elem-info('Bullet list')
                    +bullet-list([
                      'Нельзя с питомцами',
                      'Без вечеринок и мероприятий',
                      'Время прибытия — после 13:00,<br>а выезд до 12:00'
                    ])

            .form-elements__icon-text-list-wrapper
                +icon-text-list([
                    {
                        title: 'Комфорт',
                        description: 'Шумопоглощающие стены',
                        iconName: 'insert_emoticon'
                    },
                    {
                        title: 'Удобство',
                        description: 'Окно в каждой из спален',
                        iconName: 'location_city'
                    }
                ])

            .form-elements__comment-wrapper
                +comment({
                    avatarLink: 'images/avatar_murad.png',
                    userName: 'Мурад Сарафанов',
                    date: '5 дней назад',
                    text: `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.
                        И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.`,
                    likeOptions: {
                        likesNum: 12,
                        isActive: true
                    }
                })
