.logo
    position: absolute
    top: 30px
    left: 30px



.container
    display: flex
    justify-content: space-between
    position: relative




.fields
    width: 320px


.fields__field
    margin-top: 20px
    &:nth-child(5), &:nth-child(6), &:nth-child(7)
        margin-top: 40px
    &:nth-child(1)
        margin-top: 0


.switches__switch
    margin-top: 40px
    &:nth-child(1)
        margin-top: 0

.like-buttons__title
    margin-bottom: 16px