extends ../../../templates/ui-kit


block vars
    - let name = 'form-elements'

block content
    .column-1
        .fields
            .fields__field
                +text-field("Email", "default", "", "Text field", "email")
            .fields__field
                +text-field("This is pretty awesome", "hover / focus", 'text-field_active', "Text field", "text")
            .fields__field
                +dropdown("Сколько гостей", "Dropdown", "popup",
                    {
                        "className": "guests items-popup_small",
                        "items": {
                            "item1": {
                                "name": "Спальни",
                                "value": "2",
                                "list": true
                            },
                            "item2": {
                                "name": "Кровати",
                                "value": "2",
                                "list": true
                            },
                            "item3": {
                                "name": "Ванные комнаты",
                                "value": "0",
                                "list": true
                            },

                            "list": true
                        },
                    },
                    "", "default")
            .fields__field
                +text-field("ДД.ММ.ГГГГ", "default", 'masked-date', "Masked text field", "text")
            .fields__field
                +datepicker(true, "Date dropdown", "")
            .fields__field
                +datepicker(false, "Filter date dropdown", "19 авг - 23 авг")
            .fields__field
                +text-field("Email", "", "subscription-text-field", "subscription text field", "email", true)


    .column-2
        .switches
            .switches__switch
                +checkbox-buttons('checkbox buttons',
                    [
                        {
                            name: 'Можно курить',
                            checked: false
                        },
                        {
                            name: 'Можно с питомцами',
                            checked: true
                        },
                        {
                            name: 'Можно пригласить гостей<br>(до 10 человек)',
                            checked: true
                        }
                    ])
            .switches__switch
                +radio-buttons('Radio buttons', ['Мужчина', 'Женщина'], 'gender')

            .switches__switch
                +toggle-buttons('Toggle buttons', [
                    {
                        name: 'Получать спецпредложения',
                        checked: true
                    },
                    {
                        name: 'Получать спецпредложения',
                        checked: false
                    }
                ])

            .switches__switch.like-buttons
                h3.like-buttons__title Like buttons
                +like-button(2, false)
                +like-button(12, true)

            .switches__switch.rate-buttons
                h3.rate-buttons__title Rate buttons
                +rate-button(4)
                +rate-button(5)


    .column-3
        .other-elems
            .other-elems__slider
                +range-slider('Range slider')

            .other-elems__buttons
                h3.other-elems__title Buttons
                .default-buttons
                    +button('click me', false)
                    +button('click me', 'button_default-hover')
                    +button('click me', 'button_secondary')
                    +button('click me', 'button_secondary-hover')
                .icon-link-buttons
                    +button('click me', 'button_icon-link-primary')
                    +button('click me', 'button_icon-link-secondary')
                .extended-button
                    +button('Перейти к оплате', 'button_extended')








