@import '@/styles/colors'
@import '@/common.blocks/elem-info/elem-info'
@import '@/common.blocks/text-field/text-field'
@import '@/common.blocks/dropdown/dropdown'
@import '@/common.blocks/items-counter/items-counter'
@import '@/common.blocks/date-picker/date-picker'
@import '@/common.blocks/checkbox-buttons/checkbox-buttons'
@import '@/common.blocks/radio-buttons/radio-buttons'
@import '@/common.blocks/toggle-button/toggle-button'
@import '@/common.blocks/like-button/like-button'
@import '@/common.blocks/rate-button/rate-button'
@import '@/common.blocks/range-slider/range-slider'
@import '@/common.blocks/button/button'
@import '@/common.blocks/pagination/pagination'
@import '@/common.blocks/expandable-checkboxes/expandable-checkboxes'
@import '@/common.blocks/bullet-list/bullet-list'
@import '@/common.blocks/icon-text-list/icon-text-list'
@import '@/common.blocks/comment/comment'

.form-elements
  display: grid
  grid-template-columns: repeat(3, 320px)
  justify-content: space-between
  grid-row-gap: 100px
  grid-template-areas: ". . ." ". . ." ". . ." "icon-text-list comment comment"
  padding: 143px 0 130px

  @media (max-width: 1280px)
    justify-content: center
    grid-gap: 100px
    grid-template-columns: repeat(2, 320px)
    grid-template-areas: ". ." ". ." ". ." ". ." ". icon-text-list" "comment comment"

  @media (max-width: 800px)
    display: flex
    flex-direction: column

  &__guests-dropdown
    position: relative
    z-index: 5

  &__date-dropdown
    position: relative
    z-index: 4

  &__filter-date-dropdown
    position: relative
    z-index: 3

  &__facilities-dropdown
    position: relative
    z-index: 2

    &_expanded
      z-index: 1

  &__elements-container
    @media (max-width: 800px)
      display: flex
      flex-direction: column
      align-items: center

    &_with-top-margin
      margin-top: 72px

      @media (max-width: 1280px)
        margin-top: 72px

    &:nth-child(5)
      @media (max-width: 800px)
        margin-top: 50px

    &:nth-child(6)
      @media (max-width: 800px)
        margin-top: 100px

  &__icon-text-list-wrapper
    grid-area: icon-text-list

  &__comment-wrapper
    grid-area: comment
    padding-top: 10px

  &__field-elem-info
    margin-bottom: 5px

  &__button-elem-info
    margin-bottom: 16px
    grid-area: button-info

  &__bullet-elem-info
    margin-bottom: 12px

  &__field-wrapper
    margin-top: 20px
    &:first-child
      margin-top: 0

  &__button-wrapper
    margin-top: 40px
    &:first-child
      margin-top: 0

  &__like-buttons-wrapper
    margin-top: 40px
    display: grid
    grid-template-columns: 40px 40px
    grid-column-gap: 10px
    grid-template-areas: "button-info button-info" ". ."

  &__rate-buttons-wrapper
    margin-top: 40px
    display: grid
    grid-template-areas: "button-info button-info" ". ."
    grid-template-columns: 120px 120px
    grid-column-gap: 20px

  &__dropdown-wrapper
    margin: 42px 0

  &__expandable-checkboxes-wrapper
    margin-top: 5px
    &:first-child
      margin-top: 0

  &__toggle-button
    margin-top: 10px
    &:first-child
      margin-top: 0

  &__button
    display: inline-block
    margin-bottom: 30px

    &:nth-child(2n + 1)
      margin-left: 18px
      width: 150px

    &:last-child
      width: 100%
      margin-bottom: 0
