mixin button(text, className, link)
    button(class=`button ${className ? className : ''}`)
        a(href=link ? link: false).h3.button__text= text
        i.button__arrow.material-icons arrow_forward
