mixin button(text, modName, link)
    -
        let additionalClassName = '';
        if (modName) {
            if (Array.isArray(modName)) {
                modName.forEach((val, index) => {
                  additionalClassName += `button_${val}`;
                  if (index !== modName.length - 1) {
                      additionalClassName += ' ';
                  }
                });
            } else {
                additionalClassName = `button_${modName}`;
            }
        }
    button(class=`button ${additionalClassName}`)
        a(href=link ? link: 'change-me').h3.button__text= text
        i.button__arrow.material-icons arrow_forward
