@import '@/sass/colors.sass'


.button
    $selector: &

    border: none
    border-radius: 22px
    position: relative
    background: $purple-gradient
    min-width: 99px
    padding: 0 20px
    height: 44px
    display: flex
    align-items: center
    box-sizing: border-box
    transition: .4s
    outline: none
    &__text
        color: #fff
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
    &__arrow
        position: absolute
        right: 0
        color: #fff
        display: none
    &:hover
        opacity: .5

    &_default-hover
        opacity: .5

    &_extended
        width: 320px
        #{$selector}__arrow
            display: inline-block
            padding: 10px

    &_secondary,
    &_secondary-hover
        background: $purple-gradient
        &:before
            content: ''
            position: absolute
            top: 2px
            bottom: 2px
            left: 2px
            right: 2px
            background: #fff
            border-radius: 20px
            z-index: 0
        &:hover
            background: linear-gradient(180deg, #BC9CFF80 0%, #8BA4F980 100%)
            opacity: 1
        #{$selector}__text
            color: $purple
            z-index: 1
    &_secondary-hover
        background: linear-gradient(180deg, #BC9CFF80 0%, #8BA4F980 100%)
        opacity: 1

    &_icon-link-primary,
    &_icon-link-secondary
        background: transparent
        width: auto
        height: auto
        padding: 0
        display: inline-block
        min-width: 61px
    &_icon-link-primary
        #{$selector}__text
            color: $purple
    &_icon-link-secondary
        #{$selector}__text
            color: $dark-shade-50


@media screen and (max-width: 438px)
    .button
        &_extended
            width: 100%
