@import '@/sass/colors.sass'

.button
    border: none
    background: $purple-gradient
    border-radius: 22px
    position: relative

    height: 44px
    display: flex
    a
        color: #FFFFFF
        width: 100%
        text-align: center
        margin: auto 0

.button__arrow
    position: absolute
    right: 0
    color: #fff