.donut-chart__item
  &:before
    content: ''
    height: 10px
    width: 10px
    margin-right: 5px
    display: inline-block
    border-radius: 50%


@import '_color/donut-chart__item_color_dark'
@import '_color/donut-chart__item_color_orange'
@import '_color/donut-chart__item_color_green'
@import '_color/donut-chart__item_color_purple'
