.room-card__comments
  font-family: Montserrat, Arial, sans-serif
  font-size: 1rem
  line-height: (18rem / 14)
  font-weight: bold
  color: $dark-shade-50
  display: flex
  align-items: center


@import '../__comments-measure/room-card__comments-measure'
