@import '@/common.blocks/heading/heading'


.donut-chart__votes
  margin-bottom: 3px
  position: absolute
  display: flex
  flex-direction: column
  align-items: center
  z-index: -1


@import '../__value/donut-chart__value'
