include ../__value/donut-chart__value
include ../../heading/heading


mixin donut-chart__votes(value = 260)
    .donut-chart__votes
        +donut-chart__value(value)
        +heading({
            type: 'h3',
            text: 'голосов',
            color: 'purple'
        })
