@font-face
    font-family: 'Quicksand'
    src: url("../fonts/Quicksand/eot/Quicksand-Regular.eot")
    src: url("../fonts/Quicksand/eot/Quicksand-Regular.eot?#iefix") format("embedded-opentype")
    src: url("../fonts/Quicksand/svg/Quicksand-Regular.svg") format("svg")
    src: url("../fonts/Quicksand/woff/Quicksand-Regular.woff") format("woff")
    src: url("../fonts/Quicksand/ttf/Quicksand-Regular.ttf") format("truetype")
    font-style: normal
    font-weight: normal

@font-face
    font-family: 'Quicksand'
    src: url("../fonts/Quicksand/eot/Quicksand-Bold.eot")
    src: url("../fonts/Quicksand/eot/Quicksand-Bold.eot?#iefix") format("embedded-opentype")
    src: url("../fonts/Quicksand/svg/Quicksand-Bold.svg") format("svg")
    src: url("../fonts/Quicksand/woff/Quicksand-Bold.woff") format("woff")
    src: url("../fonts/Quicksand/ttf/Quicksand-Bold.ttf") format("truetype")
    font-style: normal
    font-weight: bold

@font-face
    font-family: 'Quicksand'
    src: url("../fonts/Quicksand/eot/Quicksand-Light.eot")
    src: url("../fonts/Quicksand/eot/Quicksand-Light.eot?#iefix") format("embedded-opentype")
    src: url("../fonts/Quicksand/svg/Quicksand-Light.svg") format("svg")
    src: url("../fonts/Quicksand/woff/Quicksand-Light.woff") format("woff")
    src: url("../fonts/Quicksand/ttf/Quicksand-Light.ttf") format("truetype")
    font-style: normal
    font-weight: 300

@font-face
    font-family: 'Quicksand'
    src: url("../fonts/Quicksand/eot/Quicksand-Medium.eot")
    src: url("../fonts/Quicksand/eot/Quicksand-Medium.eot?#iefix") format("embedded-opentype")
    src: url("../fonts/Quicksand/svg/Quicksand-Medium.svg") format("svg")
    src: url("../fonts/Quicksand/woff/Quicksand-Medium.woff") format("woff")
    src: url("../fonts/Quicksand/ttf/Quicksand-Medium.ttf") format("truetype")
    font-style: normal
    font-weight: 500

@font-face
    font-family: 'Quicksand'
    src: url("../fonts/Quicksand/eot/Quicksand-SemiBold.eot")
    src: url("../fonts/Quicksand/eot/Quicksand-SemiBold.eot?#iefix") format("embedded-opentype")
    src: url("../fonts/Quicksand/svg/Quicksand-SemiBold.svg") format("svg")
    src: url("../fonts/Quicksand/woff/Quicksand-SemiBold.woff") format("woff")
    src: url("../fonts/Quicksand/ttf/Quicksand-SemiBold.ttf") format("truetype")
    font-style: normal
    font-weight: 600


@font-face
    font-family: 'Montserrat'
    src: url("../fonts/Montserrat/eot/Montserrat-Regular.eot")
    src: url("../fonts/Montserrat/eot/Montserrat-Regular.eot?#iefix") format("embedded-opentype")
    src: url("../fonts/Montserrat/svg/Montserrat-Regular.svg") format("svg")
    src: url("../fonts/Montserrat/woff/Montserrat-Regular.woff") format("woff")
    src: url("../fonts/Montserrat/ttf/Montserrat-Regular.ttf") format("truetype")
    font-style: normal
    font-weight: normal

@font-face
    font-family: 'Montserrat'
    src: url("../fonts/Montserrat/eot/Montserrat-Bold.eot")
    src: url("../fonts/Montserrat/eot/Montserrat-Bold.eot?#iefix") format("embedded-opentype")
    src: url("../fonts/Montserrat/svg/Montserrat-Bold.svg") format("svg")
    src: url("../fonts/Montserrat/woff/Montserrat-Bold.woff") format("woff")
    src: url("../fonts/Montserrat/ttf/Montserrat-Bold.ttf") format("truetype")
    font-style: normal
    font-weight: bold