@font-face
    font-family: 'Quicksand'
    src: url("../fonts/Quicksand/woff2/Quicksand-Regular.woff2") format("woff2")
    src: url("../fonts/Quicksand/woff/Quicksand-Regular.woff") format("woff")
    src: url("../fonts/Quicksand/ttf/Quicksand-Regular.ttf") format("truetype")
    font-style: normal
    font-weight: normal

@font-face
    font-family: 'Quicksand'
    src: url("../fonts/Quicksand/woff2/Quicksand-Bold.woff2") format("woff2")
    src: url("../fonts/Quicksand/woff/Quicksand-Bold.woff") format("woff")
    src: url("../fonts/Quicksand/ttf/Quicksand-Bold.ttf") format("truetype")
    font-style: normal
    font-weight: bold

@font-face
    font-family: 'Quicksand'
    src: url("../fonts/Quicksand/woff2/Quicksand-Light.woff2") format("woff2")
    src: url("../fonts/Quicksand/woff/Quicksand-Light.woff") format("woff")
    src: url("../fonts/Quicksand/ttf/Quicksand-Light.ttf") format("truetype")
    font-style: normal
    font-weight: 300

@font-face
    font-family: 'Quicksand'
    src: url("../fonts/Quicksand/woff2/Quicksand-Medium.woff2") format("woff2")
    src: url("../fonts/Quicksand/woff/Quicksand-Medium.woff") format("woff")
    src: url("../fonts/Quicksand/ttf/Quicksand-Medium.ttf") format("truetype")
    font-style: normal
    font-weight: 500

@font-face
    font-family: 'Quicksand'
    src: url("../fonts/Quicksand/woff2/Quicksand-SemiBold.woff2") format("woff2")
    src: url("../fonts/Quicksand/woff/Quicksand-SemiBold.woff") format("woff")
    src: url("../fonts/Quicksand/ttf/Quicksand-SemiBold.ttf") format("truetype")
    font-style: normal
    font-weight: 600


@font-face
    font-family: 'Montserrat'
    src: url("../fonts/Montserrat/woff2/Montserrat-Regular.woff2") format("woff2")
    src: url("../fonts/Montserrat/woff/Montserrat-Regular.woff") format("woff")
    src: url("../fonts/Montserrat/ttf/Montserrat-Regular.ttf") format("truetype")
    font-style: normal
    font-weight: normal

@font-face
    font-family: 'Montserrat'
    src: url("../fonts/Montserrat/woff2/Montserrat-Bold.woff2") format("woff2")
    src: url("../fonts/Montserrat/woff/Montserrat-Bold.woff") format("woff")
    src: url("../fonts/Montserrat/ttf/Montserrat-Bold.ttf") format("truetype")
    font-style: normal
    font-weight: bold



@font-face
    font-family: 'Material Icons'
    src: url("../fonts/MaterialIcons/woff2/MaterialIcons-Regular.woff2") format("woff2")
    src: url("../fonts/MaterialIcons/woff/MaterialIcons-Regular.woff") format("woff")
    src: url("../fonts/MaterialIcons/ttf/MaterialIcons-Regular.ttf")
    font-style: normal
    font-weight: normal



@font-face
    font-family: 'Font Awesome 5 Brands'
    font-style: normal
    font-weight: 400
    font-display: block
    src: url('../fonts/FontAwesomeBrands/woff2/fa-brands-400.woff2') format('woff2')
    src: url('../fonts/FontAwesomeBrands/woff/fa-brands-400.woff') format('woff')
    src: url('../fonts/FontAwesomeBrands/ttf/fa-brands-400.ttf') format('truetype')


@import '@/sass/font-awesome-brands/fontawesome.scss'
@import '@/sass/font-awesome-brands/brands.scss'
