@import '@/sass/colors'

=h1
    margin: 0
    font-weight: bold
    color: $dark-shade-100
    font-size: (24rem / 14)
    line-height: (29rem / 14)
    font-family: 'Montserrat', Arial, sans-serif

=h2
    margin: 0
    font-weight: bold
    color: $dark-shade-100
    font-size: (19rem / 14)
    line-height: (23rem / 14)
    font-family: 'Montserrat', Arial, sans-serif

=h3
    margin: 0
    font-weight: bold
    color: $dark-shade-100
    font-size: (12rem / 14)
    line-height: (15rem / 14)
    font-family: 'Montserrat', Arial, sans-serif
    text-transform: uppercase
