@import 'fonts.sass'

*::before,
*::after
    box-sizing: border-box

ul, ol
    padding: 0
    list-style: none

body,
h1, h2, h3, h4,
p,
ul, ol, li
    margin: 0

a
    text-decoration: none
    color: inherit

body
    min-height: 100vh
    text-rendering: optimizeLegibility

input
    padding: 0

button
    padding: 0

@import "colors.sass"

@import "type.sass"

body
    margin: 0 auto

body, html
    overflow-x: hidden

.container
    width: 1160px
    margin: 0 auto
    position: relative
    height: 100%
    //overflow: hidden

.ui-logo-container
    position: absolute
    width: 100%
    max-width: 1440px
    left: 50%
    transform: translateX(-50%)
.ui-logo-container__logo
    position: relative
    left: 30px
    top: 30px


.material-icons
    cursor: pointer

    font-family: 'Material Icons'
    font-weight: normal
    font-style: normal
    font-size: 24px
    display: inline-block
    line-height: 1
    text-transform: none
    letter-spacing: normal
    word-wrap: normal
    white-space: nowrap
    direction: ltr

    -webkit-font-smoothing: antialiased
    text-rendering: optimizeLegibility
    -moz-osx-font-smoothing: grayscale
    font-feature-settings: 'liga'


@media screen and (max-width: 1160px)
    .container
        width: 90%
        min-width: 280px
        position: relative

@media screen and (max-width: 310px)
    body, html
        overflow-x: visible
