@import 'fonts.sass'

*::before,
*::after
    box-sizing: border-box

ul, ol
    padding: 0
    list-style: none

body,
h1, h2, h3, h4,
p,
ul, ol, li
    margin: 0

a
    text-decoration: none

body
    min-height: 100vh
    text-rendering: optimizeLegibility



@import "colors.sass"

@import "type.sass"


