html
    font:
        family: 'Montserrat', Arial, sans-serif
        size: 14px
    line-height: (24 / 14)
    color: $dark-shade-75


h1, h2, h3, .h1, .h2, .h3
    font-weight: bold
    color: $dark-shade-100

h1, .h1
    font-size: (24rem / 14)
    line-height: (29rem / 14)
    font-family: 'Montserrat', Arial, sans-serif

h2, .h2
    font-size: (19rem / 14)
    line-height: (23rem / 14)
    font-family: 'Montserrat', Arial, sans-serif

h3, .h3
    font-size: (12rem / 14)
    line-height: (15rem / 14)
    font-family: 'Montserrat', Arial, sans-serif
    text-transform: uppercase
