include ../../../text-field/text-field


mixin signin-card__password
    .signin-card__password
        +text-field({
            inputOptions: {
                type: 'password',
                placeholder: 'Пароль'
            }
        })
