.signin-card
    width: 380px
    height: 358px
    background-color: #fff
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2)
    border: 1px solid rgba(0, 0, 0, 0.12)
    padding: 39px 29px 29px 29px
    box-sizing: border-box
.signin-card__title
    letter-spacing: .05em

.signin-card__email
    margin-top: 20px
.signin-card__password
    margin-top: 10px

.signin-card__button
    margin-top: 20px

.signin-card__account-not-exists
    display: flex
    justify-content: space-between
    align-content: center

    margin-top: 30px
    span
        color: #000
        display: flex
        align-items: center


@media screen and (max-width: 410px)
    .signin-card
        width: 100%
        min-width: 357px