mixin guests-dropdown(className, title, state)
    .dropdown(class=`${className ? className : ''}`)
        .dropdown__info
            h3.dropdown__title= title
            if state
                span.dropdown__state= state
        .dropdown__input
            .dropdown__text Сколько гостей
            i.dropdown__arrow.material-icons expand_more
        .dropdown__popup
            
