include __room-info/booking-card__room-info
include __dates/booking-card__dates
include __guests/booking-card__guests
include __items/booking-card__items
include __total/booking-card__total

include ../../button/button


//-
    roomInfo: {
        number: number
        price: string | number
        type: string
    }
    bookingItems: Array<{
        text: string
        price: string | number
        tooltip: boolean
    }>
    totalPrice: string | number
mixin booking-card({roomInfo, bookingItems, totalPrice} = {})
    .booking-card
        +booking-card__room-info(roomInfo)
        +booking-card__dates
        +booking-card__guests
        +booking-card__items(bookingItems)
        +booking-card__total(totalPrice)
        +button({
            text: 'Забронировать',
            link: false,
            modifiers: {
                long: true,
                textColor: 'white',
            }
        })
