@import '@/common.blocks/items-counter/items-counter'
@import '@/common.blocks/date-picker/date-picker'
@import '@/common.blocks/dropdown/dropdown'
@import '@/common.blocks/room-info/room-info'


.booking-card
  width: 100%
  max-width: 380px
  box-sizing: border-box
  border: 1px solid rgba(0, 0, 0, 0.12)
  padding: 39px 29px 29px
  background-color: #fff
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2)


@import '__dates/booking-card__dates'
@import '__guests/booking-card__guests'
@import '__items/booking-card__items'
@import '__total/booking-card__total'
