block vars

doctype html
html(lang="ru")
    head
        meta(charset = "utf-8")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        link(rel="shortcut icon" href="images/logo-icon.svg")
        link(rel="stylesheet" type="text/css" href="ui-"+name+".css")
        title= name

    body
        .ui-logo-container
            img.ui-logo-container__logo(src="images/logo-icon.svg" alt="logo")

        block content

        script(src="ui-"+name+".js")
