block vars

doctype html
html(lang="ru")
    head
        meta(charset = "utf-8")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        link(rel="shortcut icon" href="images/logo.svg")
        link(rel="stylesheet" type="text/css" href="ui-"+name+".css")
        title= name

    body
        img.logo(src="images/logo.svg" alt="logo")

        .container
            block content


        script(src="ui-"+name+".js")

        script
            include ../js/dropdown.js

        script.
            document.addEventListener('DOMContentLoaded', () => {
                dropdown(document.querySelector('.dropdown__input'), document.querySelector('.dropdown__popup'),
                    'dropdown__popup_open')
            })
