include ../blocks/text-field/text-field
include ../blocks/dropdown/dropdown
include ../blocks/date-picker/datepicker
include ../blocks/checkbox-buttons/checkbox-buttons
include ../blocks/radio-buttons/radio-buttons
include ../blocks/toggle-buttons/toggle-buttons
include ../blocks/like-button/like-button
include ../blocks/rate-button/rate-button
include ../blocks/range-slider/range-slider
include ../blocks/button/button
include ../blocks/pagination/pagination
include ../blocks/list/list
include ../blocks/bullet-list/bullet-list
include ../blocks/icon-text-list/icon-text-list
include ../blocks/comment/comment


block vars

doctype html
html(lang="ru")
    head
        meta(charset = "utf-8")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        link(rel="shortcut icon" href="images/logo-icon.svg")
        link(rel="stylesheet" type="text/css" href="ui-"+name+".css")
        title= name

    body
        .ui-logo-container
            img.ui-logo-container__logo(src="images/logo-icon.svg" alt="logo")

        block content


        script(src="ui-"+name+".js")
