include ../blocks/text-field/text-field.pug
include ../blocks/dropdown/dropdown.pug
include ../blocks/items-popup/popup
include ../blocks/date-picker/datepicker
include ../blocks/checkbox-buttons/checkbox-buttons
include ../blocks/radio-buttons/radio-buttons
include ../blocks/toggle-buttons/toggle-buttons
include ../blocks/like-button/like-button
include ../blocks/rate-button/rate-button


block vars

doctype html
html(lang="ru")
    head
        meta(charset = "utf-8")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        link(rel="shortcut icon" href="images/logo.svg")
        link(rel="stylesheet" type="text/css" href="ui-"+name+".css")
        title= name

    body
        img.logo(src="images/logo.svg" alt="logo")

        .container
            block content


        script(src="ui-"+name+".js")