@import '@/sass/colors'


.booking-card__number-sign
  margin-right: 4px
  margin-bottom: 2px
  display: flex
  align-items: flex-end
  font-family: Montserrat, Arial, sans-serif
  font-size: 1rem
  line-height: (17rem / 14)
  font-weight: bold
  color: $dark-shade-100
