include ../__img/room-card__img


mixin room-card__slider({imagesSrc, hasSliderArrows = false})
    -
        let className = 'room-card__slider js-room-card__slider';
        if (hasSliderArrows) {
            className += ' room-card__slider_with-arrows';
        }
    div(class=className)
        each src in imagesSrc
            +room-card__img(src)
