@import '@/sass/colors'


.icon-text-list__icon
  margin-right: 10px
  font-size: 48px
  line-height: 1
  background: $purple-gradient
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
