include ../../text-field/text-field
include ../__title/dropdown__title


mixin dropdown__text-field({inputOptions, title, isActive = false})
    .dropdown__text-field
        if (title)
            +dropdown__title(title)
        +text-field({
            inputOptions: {
                ...inputOptions,
                isMaskedDate: false,
                isReadonly: true
            },
            arrowOptions: {},
            modifiers: {
                isFocused: isActive,
                isBottomFlat: isActive,
            }
        })
