include ../__likes/comment__likes
include ../__text/comment__text


mixin comment__content({likeOptions, text})
    .comment__content
        +comment__likes(likeOptions)
        +comment__text(text)
