include __name/room-info__name
include __price/room-info__price


mixin room-info({number, type, price, isNameSmall = false})
    .room-info
        +room-info__name({ number, type, isSmall: isNameSmall })
        +room-info__price(price)
