include ../heading/heading


mixin room-info({number, type, price, isNameBig = false})
    div(class=`room-info${isNameBig ? ' room-info_size_big' : ''}`)
        header.room-info__name
            span.room-info__number-sign №

            if (isNameBig)
                +heading({
                  text: number,
                  type: 'h1'
                })
            else
                h3.room-info__number= number

            if (type)
                .room-info__type
                    +heading({
                        text: type,
                        color: 'purple',
                    })
        p.room-info__price= `${price}₽`
            span.room-info__price-measure в сутки
