@import '@/styles/colors'
@import '@/styles/constants'

.room-info
  display: flex
  justify-content: space-between

  &__number
    margin: 0
    font-family: Montserrat, Arial, sans-serif
    font-style: normal
    font-weight: bold
    font-size: (19rem / $default-font-size)
    line-height: (16rem / $default-font-size)
    color: $dark-shade-100

  &__number-sign
    margin-right: 4px
    display: flex
    align-items: flex-end
    font-family: Montserrat, Arial, sans-serif
    font-size: 1rem
    line-height: (17rem / $default-font-size)
    font-weight: bold
    color: $dark-shade-100

  &__type
    margin-left: 7px
    display: flex
    align-items: flex-end

  &__name
    display: flex
    margin: 0

  &__price-measure
    margin-left: 4px
    font-weight: normal
    font-size: (12rem / $default-font-size)

  &__price
    margin: 0 1px 0 0
    font-family: Montserrat, Arial, sans-serif
    font-weight: bold
    line-height: (18rem / $default-font-size)
    color: $dark-shade-50
    display: flex
    align-items: flex-end

  &_size
    &_big
      .room-info__type
        margin: 0 0 1px 8px
