mixin donut-chart
    .donut-chart
        .donut-chart__chart
            canvas(width='127' height='127')
        ul.donut-chart__list
            li(data-value='520' data-color='#FFE39C') Великолепно
            li(data-value='260' data-color='#6FCF97') Хорошо
            li(data-value='260' data-color='#BC9CFF') Удовлетворительно
            li(data-value='0' data-color='#909090') Разочарован
        span.donut-chart__value