.donut-chart
    display: flex
    align-items: flex-end
    position: relative

.donut-chart__list
    margin-left: 27px
    margin-bottom: 3px
    li
        display: flex
        align-items: center
        &:before
            content: ''
            height: 10px
            width: 10px
            margin-right: 5px
            display: inline-block
            border-radius: 50%
        &:nth-child(1)
            &:before
                background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%)
        &:nth-child(2)
            &:before
                background: $green-gradient
        &:nth-child(3)
            &:before
                background: $purple-gradient
        &:nth-child(4)
            &:before
                background: linear-gradient(180deg, #919191 0%, #3D4975 100%)

.donut-chart__value
    position: absolute
    left: 31px
    bottom: 44px
    text-align: center
    z-index: -1

@media screen and (max-width: 350px)
    .donut-chart
        flex-wrap: wrap
    .donut-chart__value
        bottom: unset
        top: 40px
        left: 35px