@import '@/common.blocks/heading/heading'
@import '@/common.blocks/button/button'


.signin-card
  width: 100%
  max-width: 380px
  padding: 39px 29px 32px 29px
  background-color: #fff
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2)
  box-sizing: border-box
  border: 1px solid rgba(0, 0, 0, 0.12)
  border-radius: 4px


@import '__email/signin-card__email'
@import '__password/signin-card__password'
@import '__account-not-exists/signin-card__account-not-exists'
