include ../../heading/heading
include ../../button/button

include __email/signin-card__email
include __password/signin-card__password
include __account-not-exists/signin-card__account-not-exists


mixin signin-card
    .signin-card
        +heading({
            type: 'h1',
            text: 'Войти',
        })
        +signin-card__email
        +signin-card__password
        +button({
            text: 'Войти',
            link: 'landing-page.html',
            modifiers: {
                long: true,
                textColor: 'white',
            }
        })
        +signin-card__account-not-exists
