include ../heading/heading
include ../button/button
include ../text-field/text-field


mixin signin-card
    form.signin-card
        +heading({
            type: 'h1',
            text: 'Войти',
        })
        .signin-card__email
            +text-field({
                inputOptions: {
                    placeholder: 'Email',
                    type: 'email'
                }
            })
        .signin-card__password
            +text-field({
                inputOptions: {
                    type: 'password',
                    placeholder: 'Пароль'
                }
            })
        +button({
            text: 'Войти',
            hasLink: true,
            link: 'landing-page.html',
            modifiers: {
                isLong: true,
                textColor: 'white',
            }
        })
        .signin-card__account-not-exists.js-signin-card__account-not-exists
            span Нет аккаунта на Toxin?
            +button({
                text: 'Создать',
                hasLink: true,
                link: 'registration.html',
                modifiers: {
                    isSecondary: true
                },
            })
