@import '@/common.blocks/heading/heading'
@import '@/common.blocks/button/button'
@import '@/common.blocks/text-field/text-field'


.signin-card
  width: 100%
  max-width: 380px
  padding: 39px 29px 32px 29px
  background-color: #fff
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2)
  box-sizing: border-box
  border: 1px solid rgba(0, 0, 0, 0.12)
  border-radius: 4px
  &__email
    margin-top: 20px
  &__password
    margin-top: 10px
    margin-bottom: 20px
  &__account-not-exists
    margin-top: 30px
    display: flex
    justify-content: space-between
    align-items: center
    color: #000
