@import '@/styles/colors'

.bullet-list
  display: flex
  flex-direction: column
  list-style: none
  padding: 0
  margin: 0

  &__item
    position: relative
    margin-top: 10px
    padding-left: 20px
    vertical-align: text-top

    &:nth-child(1)
      margin-top: 0

    &:before
      content: ''
      position: absolute
      left: 0
      top: 6px
      display: inline-block
      width: 10px
      height: 10px
      border-radius: 50%
      background-color: $dark-shade-25
