include ../__input/checkbox-buttons__input
include ../__name/checkbox-buttons__name
include ../__description/checkbox-buttons__description


mixin checkbox-buttons__button({ item, rich = false })
    label.checkbox-buttons__button
        +checkbox-buttons__input(item.checked)
        +checkbox-buttons__name(item.name)
        if (rich)
            +checkbox-buttons__description(item.description)
