mixin toggle-button({ text, checked = false })
    label.toggle-button
        input.toggle-button__input(
            type='checkbox',
            checked=checked
        )
        p.toggle-button__text= text
