.room-card__content
  padding: 20px 16px 20px 20px
  display: block
  text-decoration: none


@import '../__room-info/room-card__room-info'
@import '../__rating-and-comments/room-card__rating-and-comments'
