.booking-card__total
  width: calc(100% + 10px)
  display: grid
  grid-template-columns: max-content 1fr max-content
  grid-column-gap: 4px
  margin-top: 30px
  margin-bottom: 21px


@import '../__total-text/booking-card__total-text'
@import '../__dots/booking-card__dots'
