include ../__total-price/booking-card__total-price
include ../__total-text/booking-card__total-text
include ../__dots/booking-card__dots


mixin booking-card__total(price)
    .booking-card__total
        +booking-card__total-text
        +booking-card__dots
        +booking-card__total-price(price)
