.button_secondary
  &:before
    content: ''
    position: absolute
    top: 2px
    bottom: 2px
    left: 2px
    right: 2px
    background: #fff
    border-radius: 20px
    z-index: 0
  &:hover
    background: linear-gradient(180deg, #BC9CFF80 0%, #8BA4F980 100%)
    opacity: 1

  &.button_hovered
    background: linear-gradient(180deg, #BC9CFF80 0%, #8BA4F980 100%)
    opacity: 1
