.room-card
    width: 270px
    background-color: #fff
    box-shadow: 0 10px 20px 0 $dark-shade-5
    border-radius: 5px

.room-card__slider
    position: relative
    width: 100%
    height: 151.38px
    .slick-list
        height: 100%
    .slick-dots
        display: flex
        width: 41.25px
        height: 7.5px
        justify-content: space-between
        position: absolute
        right: 15px
        bottom: 19px
        li
            button
                color: transparent
                border: 1px solid #fff
                background: none
                width: 7.5px
                height: 7.5px
                border-radius: 50%
                outline: none
                cursor: pointer
        li.slick-active
            button
                background: #fff
    .slick-arrow
        display: none

.room-card_with-arrows
    .room-card__slider
        .slick-arrow
            width: 44px
            border: none
            color: #fff
            position: absolute
            height: 100%
            display: flex
            align-items: center
            justify-content: center
            top: 0
            &:after
                content: 'expand_more'
        .slick-arrow.slick-prev
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%)
            left: 0
            z-index: 1
            &:after
                transform: rotate(90deg)
        .slick-arrow.slick-next
            background: linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%)
            right: 0
            &:after
                transform: rotate(-90deg)


.room-card__content
    padding: 20px


.room-card__img
    outline: none
    height: 100%
    border:
        top-left-radius: 5px
        top-right-radius: 5px

.room-card__room-info
    display: flex
    justify-content: space-between
    position: relative
    padding-bottom: 10px
    &:after
        content: ''
        width: 100%
        height: 1px
        background-color: $dark-shade-10
        position: absolute
        bottom: -3px
        
    

.room-card__name
    display: flex
    span
        font-family: Quicksand, sans-serif
        font-weight: bold
        font-size: 14px
        line-height: 17.5px
        color: $dark-shade-100
        display: flex
        align-items: flex-end
        padding-bottom: 2px
    div
        display: inline-block
    h3
        display: flex
        align-items: flex-end
        padding-bottom: 2px

.room-card__type
    color: $purple
    margin-left: 5px
    line-height: 10px

.room-card__price
    font-family: Montserrat, sans-serif
    font-size: 14px
    line-height: 18px
    font-weight: bold
    color: $dark-shade-50
    display: flex
    align-items: center
    transform: translate(3px, 3px)
    span
        font-weight: normal
        font-size: 12px


.room-card__rating-and-comments
    margin-top: 10px
    display: flex
    justify-content: space-between
    align-items: center

.room-card__comments
    font-family: Montserrat, sans-serif
    font-size: 14px
    line-height: 18px
    font-weight: bold
    color: $dark-shade-50
    display: flex
    align-items: center
    transform: translateY(1px)
    span
        font-weight: normal
        font-size: 14px
.room-card__rating
    height: 24px