.items-counter
  max-width: 320px
  width: 100%
  padding: 6px 6px 6px 14px
  box-sizing: border-box

  &__button-panel
    display: flex
    justify-content: space-between
    margin-top: 20px
    margin-bottom: 7px

  &__clear-button
    &_disabled
      visibility: hidden

  &__item
    margin-bottom: 7px
    &:last-child
      margin-bottom: 0

  &_without-buttons
    .items-counter__button-panel
      display: none
