include ../counting-item/counting-item
include ../button/button


mixin items-counter({items, withoutButtons = false})
    -
        let className = 'items-counter';
        if (withoutButtons) {
            className += ' items-counter_without-buttons';
        }
    div(class=className)
        .items-counter__items-list
            each item in items
                .items-counter__item
                    +counting-item({
                        name: item.name,
                        value: item.value
                    })
        .items-counter__button-panel
            .items-counter__clear-button
                +button({
                    text: 'Очистить',
                    hasLink: false,
                    modifiers: {
                        withoutFrame: true,
                        textColor: 'gray'
                    }
                })
            .items-counter__apply-button
                +button({
                    text: 'Применить',
                    hasLink: false,
                    modifiers: {
                        withoutFrame: true,
                        color: 'purple'
                    }
                })
