@import '../counting-item/counting-item'


.items-counter
  max-width: 320px
  width: 100%
  padding: 6px 6px 6px 14px
  box-sizing: border-box


@import '__button-panel/items-counter__button-panel'
@import '__clear-button/items-counter__clear-button'
@import '__item/items-counter__item'

@import '_without-buttons/items-counter_without-buttons'
