include ../heading/heading

mixin range-slider(title, description = false)
    .range-slider.js-range-slider
        .range-slider__info
            +heading({ text: title })
            output.range-slider__value.js-range-slider__value
        .range-slider__slider.js-range-slider__slider
        if description
            p.range-slider__description= description
