include __info/range-slider__info
include __slider/range-slider__slider
include __description/range-slider__description


mixin range-slider(title, description = false)
    .range-slider
        +range-slider__info(title)
        +range-slider__slider
        if description
            +range-slider__description(description)
