.signup-card
    width: 380px
    height: 646px
    background-color: #fff
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2)
    border: 1px solid rgba(0, 0, 0, 0.12)
    padding: 39px 29px 29px 29px
    box-sizing: border-box

.signup-card__general-info
    margin-top: 20px

.signup-card__surname
    margin-top: 10px

.signup-card__gender
    margin-top: 10px

.signup-card__birth
    margin-top: 23px

.signup-card__login-details
    margin-top: 20px


.signup-card__email
    margin-top: 5px
.signup-card__password
    margin-top: 10px

.signup-card__offers
    margin-top: 10px

.signup-card__signup-btn
    margin-top: 20px

.signup-card__account-exists
    display: flex
    justify-content: space-between
    align-content: center

    margin-top: 30px
    span
        color: #000
        display: flex
        align-items: center
