.bullet-list__item
  position: relative
  margin-top: 10px
  padding-left: 21.5px
  display: flex
  align-items: center

  &:nth-child(1)
    margin-top: 0

  &:before
    content: ''
    position: absolute
    left: 0
    display: inline-block
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: $dark-shade-25
