include ../../button/button


mixin header__buttons
    .header__buttons
        +button({
            text: 'Войти',
            link: 'login-and-registration.html',
            modifiers: {
                isSecondary: true
            }
        })
        +button({
            text: 'Зарегистрироваться',
            link: 'login-and-registration.html'
        })
