@import '@/sass/colors'
.rate-button
    display: inline-flex
    margin-right: 15px
    width: 120px
    justify-content: space-between

.rate-button__star
    &:after
        content: 'star_border'
        background: $purple-gradient
        -webkit-text-fill-color: transparent
        -webkit-background-clip: text

.rate-button__star_active
    &:after
        content: 'star'