@import '@/sass/colors'


.radio-buttons__button-text
  padding-left: 30px
  position: relative
  color: $dark-shade-50
  line-height: (20rem / 14)
  user-select: none
  display: flex
  align-items: center
  &:before
    content: ''
    margin-right: 0.5em
    position: absolute
    left: 0
    display: inline-block
    width: 20px
    height: 20px
    box-sizing: border-box
    border: 1px solid $dark-shade-25
    border-radius: 50%
