@import '@/sass/colors'


.header__user
  position: relative
  display: flex
  align-items: center
  font-size: 1rem
  line-height: (17rem / 14)
  color: $dark-shade-50
  &:before
    content: ''
    height: 30px
    width: 1px
    background-color: $dark-shade-10
    margin-right: 20px


@media screen and (max-width: 1200px)
  .header__user
    &:before
      display: none
