@import '@/common.blocks/heading/heading'
@import '@/common.blocks/button/button'


.signup-card
  width: 100%
  max-width: 380px
  box-sizing: border-box
  background-color: #fff
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2)
  border: 1px solid rgba(0, 0, 0, 0.12)
  border-radius: 4px
  padding: 39px 29px 29px 29px


@import '__name/signup-card__name'
@import '__surname/signup-card__surname'
@import '__gender/signup-card__gender'
@import '__birth/signup-card__birth'
@import '__login-details/signup-card__login-details'
@import '__offers/signup-card__offers'
@import '__account-exists/signup-card__account-exists'
