include ../room-info/room-info
include ../button/button
include ../date-picker/date-picker
include ../items-counter/items-counter
include ../dropdown/dropdown
include ../heading/heading


mixin booking-card({roomInfo, bookingItems, totalPrice} = {})
    .booking-card.js-booking-card
        +room-info(roomInfo)

        .booking-card__dates
            +dropdown({
                isDouble: true,
                title: ['Прибытие', 'Выезд'],
                inputOptions: [
                    {
                        value: '19.08.2019',
                        placeholder: 'ДД.ММ.ГГГГ'
                    },
                    {
                        value: '23.08.2019',
                        placeholder: 'ДД.ММ.ГГГГ'
                    }
                ],
                popupMixinOptions: {
                    name: 'date-picker',
                    params: {
                      initialDate: [new Date(2019, 7, 19), new Date(2019, 7, 23)],
                      isTextDouble: true,
                    },
                },
                defaultInputValue: 'ДД.ММ.ГГГГ',
            })

        .booking-card__guests
            +dropdown({
                inputOptions: {
                    value: '3 гостя',
                    placeholder: 'Сколько гостей',
                },
                popupMixinOptions: {
                    name: 'items-counter',
                    params: {
                        items: [
                            {
                                name: 'Взрослые',
                                value: 2,
                            },
                            {
                                name: 'Дети',
                                value: 1,
                            },
                            {
                                name: 'Младенцы',
                                value: 0,
                            },
                        ],
                        wordForValueTextReplacing: 'гостя',
                    },
                },
                title: 'Гости',
                defaultInputValue: 'Сколько гостей',
            })

        .booking-card__items
            each item in bookingItems
                .booking-card__item
                    .booking-card__item-text !{item.text}
                        if (item.hasTooltip)
                            .booking-card__tooltip i
                    .booking-card__item-price= `${item.price}₽`

        .booking-card__total
            .booking-card__total-text
                +heading({
                    text: 'Итого',
                    type: 'h2',
                })
            .booking-card__dots
            .booking-card__total-price
                +heading({
                    text: `${totalPrice}₽`,
                    type: 'h2',
                })

        +button({
            text: 'Забронировать',
            hasLink: false,
            modifiers: {
                isLong: true,
                textColor: 'white',
            }
        })
