include ../room-info/room-info

include __dates/booking-card__dates
include __guests/booking-card__guests
include __items/booking-card__items
include __total/booking-card__total

include ../button/button


mixin booking-card({roomInfo, bookingItems, totalPrice} = {})
    .booking-card
        +room-info(roomInfo)
        +booking-card__dates
        +booking-card__guests
        +booking-card__items(bookingItems)
        +booking-card__total(totalPrice)
        +button({
            text: 'Забронировать',
            hasLink: false,
            modifiers: {
                isLong: true,
                textColor: 'white',
            }
        })
