@import '@/styles/colors'
@import '@/styles/constants'
@import '@/common.blocks/room-info/room-info'
@import '@/common.blocks/date-picker/date-picker'
@import '@/common.blocks/items-counter/items-counter'
@import '@/common.blocks/dropdown/dropdown'
@import '@/common.blocks/heading/heading'

.booking-card
  width: 100%
  max-width: 380px
  box-sizing: border-box
  border: 1px solid rgba(0, 0, 0, 0.12)
  border-radius: 4px
  padding: 39px 29px 29px
  background-color: #fff
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2)

  &__dates
    margin-top: 22px
    position: relative
    z-index: 2

  &__guests
    margin-top: 20px

  &__tooltip
    width: 20px
    height: 20px
    border-radius: 50%
    box-sizing: border-box
    border: 1px solid $dark-shade-25
    position: absolute
    left: calc(100% + 3.5px)
    top: 0
    display: flex
    align-items: center
    justify-content: center
    color: $dark-shade-25
    cursor: pointer
    font-family: Montserrat, Arial, sans-serif
    font-weight: bold
    font-size: (12rem / $default-font-size)
    line-height: 1rem

    &:hover
      &:after
        content: attr(data-text)
        position: absolute
        top: 100%
        padding: 10px
        background-color: #fff
        z-index: 1
        border: 1px solid $dark-shade-25
        border-radius: 5px

  &__item-text
    margin: 0 0 0 2px
    line-height: (18rem / $default-font-size)
    position: relative
    max-width: 215px
    width: 100%
    @media (max-width: 440px)
      text-align: center

  &__item-price
    line-height: (18rem / $default-font-size)

  &__item
    display: flex
    justify-content: space-between
    margin-top: 16px
    position: relative

    &:first-child
      margin-top: 0

    @media (max-width: 440px)
      flex-direction: column
      align-items: center

  &__items
    margin: 21px 0 0
    padding: 0

  &__dots
    border-bottom: 1px dotted $dark-shade-25
    margin-bottom: 4px

  &__total
    width: 100%
    display: grid
    grid-template-columns: max-content 1fr max-content
    grid-column-gap: 4px
    margin: 30px 2px 21px 1px
