@import '@/sass/colors.sass'


.colors-and-type
    display: flex
    justify-content: space-between
    padding: 145px 17px 0 10px


.color
    display: flex
    align-items: center

    margin-top: 20px
    &:first-child
        margin: 0

.color__hex
    font:
        family: 'Montserrat', sans-serif
        size: 19px
        style: normal
        weight: normal
    line-height: 28px
    margin-top: 2px


.color__info
    margin: 5px 0 0 40px
    color: $dark-shade-100

.color__demo
    width: 70px
    height: 70px
    border-radius: 6px

.color__demo_dark-shade-100
    background-color: $dark-shade-100

.color__demo_dark-shade-75
    background-color: $dark-shade-75

.color__demo_dark-shade-50
    background-color: $dark-shade-50

.color__demo_dark-shade-25
    background-color: $dark-shade-25

.color__demo_dark-shade-5
    background-color: $dark-shade-5

.color__demo_purple
    background-color: $purple

.color__demo_green
    background-color: $green



.type
    display: flex
    justify-content: space-between

    width: 436px
    margin-top: 53px
    &:first-child
        margin: 0
    &:nth-child(3)
        margin-top: 52px
    &:nth-child(4)
        margin-top: 47px

.type__text
    width: 400px

.type__name
    width: 40px
    text-align: right
    color: $dark-shade-25
    font:
        family: Montserrat, sans-serif
        style: normal
        weight: normal

    margin-right: 30px


@media screen and (max-width: 850px)
    .colors-and-type
        flex-direction: column
    .types
        margin-top: 100px

@media screen and (max-width: 510px)
    .colors-and-type
        padding-right: 0
    .type
        width: 100%
