@mixin define-font($name, $folder-name: $name, $file-name, $style: normal, $weight: normal)
  @font-face
    font-family: $name
    src: url("../public/fonts/#{$folder-name}/woff2/#{$file-name}.woff2") format("woff2")
    src: url("../public/fonts/#{$folder-name}/woff/#{$file-name}.woff") format("woff")
    src: url("../public/fonts/#{$folder-name}/ttf/#{$file-name}.ttf") format("truetype")
    font-style: $style
    font-weight: $weight


@include define-font($name: "Quicksand", $file-name: quicksand-regular)
@include define-font($name: "Quicksand", $file-name: quicksand-bold, $weight: bold)
@include define-font($name: "Quicksand", $file-name: quicksand-light, $weight: 300)
@include define-font($name: "Quicksand", $file-name: quicksand-medium, $weight: 500)
@include define-font($name: "Quicksand", $file-name: quicksand-semibold, $weight: 600)

@include define-font($name: "Montserrat", $file-name: montserrat-regular)
@include define-font($name: "Montserrat", $file-name: montserrat-bold, $weight: bold)

@include define-font($name: "Material Icons", $folder-name: MaterialIcons, $file-name: material-icons-regular)

@include define-font($name: "Font Awesome 5 Brands", $folder-name: FontAwesomeBrands, $file-name: fa-brands-400, $weight: 400)
