@import 'colors'
@import 'constants'
@import 'fonts'
@import '~@fortawesome/fontawesome-free/scss/fontawesome'
@import '~@fortawesome/fontawesome-free/scss/brands'

html
  background-color: #fff

  font:
    family: 'Montserrat', Arial, sans-serif
    size: $default-font-size + px
  line-height: (24 / $default-font-size)
  color: $dark-shade-75

body
  min-height: 100vh
  text-rendering: optimizeLegibility
  margin: 0 auto


.container
  width: 1160px
  margin: 0 auto
  position: relative
  height: 100%
  min-height: calc(100vh - #{$header-size + $footer-size})

  @media (max-width: 1200px)
    width: 90%
    min-width: 300px

.ui-logo-container
  position: absolute
  width: 100%
  max-width: 1440px
  left: 50%
  transform: translateX(-50%)

  &__logo
    position: relative
    left: 30px
    top: 30px


.material-icons
  cursor: pointer

  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  font-feature-settings: 'liga'

.fab
  font-family: 'Font Awesome 5 Brands'
  font-weight: 400
