mixin social-links
    ul.social-links
        li.social-links__item
            a.social-links__link(href='change-me')
                span.social-links__icon.fab(class='fa-twitter')
        li.social-links__item
            a.social-links__link(href='change-me')
                span.social-links__icon.fab(class='fa-facebook-square')
        li.social-links__item
            a.social-links__link(href='change-me')
                span.social-links__icon.fab(class='fa-instagram')
