mixin social-links
    .social-links
        a.social-links__link(href='change-me')
            i.social-links__icon.fab(class='fa-twitter')
        a.social-links__link(href='change-me')
            i.social-links__icon.fab(class='fa-facebook-square')
        a.social-links__link(href='change-me')
            i.social-links__icon.fab(class='fa-instagram')
