include __link/social-links__link


mixin social-links
    .social-links
        +social-links__link('twitter')
        +social-links__link('facebook-square')
        +social-links__link('instagram')
