.arrow
  padding: 10px
  cursor: pointer
  color: $dark-shade-50
  display: block
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  font-feature-settings: 'liga'

  &_color
    &_purple-gradient
      color: transparent
      background: $purple-gradient
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent

    &_white
      color: #fff

  &_without-padding
    padding: 0
