//-
    type: 'expand-less' | 'forward'
    color: 'white' | 'purple-gradient'
    small: boolean
mixin arrow({type, color, small = false} = {})
    -
        let className = 'arrow';

        switch (type) {
            case 'expand-less':
                className += ' arrow_type_expand-less';
                break;
            case 'forward':
                className += ' arrow_type_forward';
                break;
            default:
                break;
        }

        switch (color) {
            case 'white':
                className += ' arrow_color_white';
                break;
            case 'purple-gradient':
                className += ' arrow_color_purple-gradient';
                break;
            default:
                break;
        }

        if (small) {
            className += ' arrow_small';
        }

    div(class=className)
