@import '@/sass/colors'


.arrow
  padding: 10px
  cursor: pointer
  &:after
    content: 'expand_more'

    color: $dark-shade-50
    display: block
    font-family: 'Material Icons'
    font-weight: normal
    font-style: normal
    font-size: 24px
    line-height: 1
    text-transform: none
    letter-spacing: normal
    word-wrap: normal
    white-space: nowrap
    direction: ltr
    -webkit-font-smoothing: antialiased
    text-rendering: optimizeLegibility
    -moz-osx-font-smoothing: grayscale
    font-feature-settings: 'liga'


@import '_color/arrow_color_white'
@import '_color/arrow_color_purple-gradient'
@import '_type/arrow_type_expand-less'
@import '_type/arrow_type_forward'
@import '_small/arrow_small'
