mixin arrow({type, color, withoutPadding = false} = {})
    -
        let className = 'arrow';
        let iconName = 'expand_more';

        switch (type) {
            case 'expand-less':
                iconName = 'expand_less';
                break;
            case 'forward':
                iconName = 'arrow_forward';
                break;
            default:
                break;
        }

        switch (color) {
            case 'white':
                className += ' arrow_color_white';
                break;
            case 'purple-gradient':
                className += ' arrow_color_purple-gradient';
                break;
            default:
                break;
        }

        if (withoutPadding) {
            className += ' arrow_without-padding';
        }

    span(class=className)= iconName
