@import '@/sass/colors'


.heading
  margin: 0
  color: $dark-shade-100
  font-family: 'Montserrat', Arial, sans-serif
  font-weight: bold

  font-size: (24rem / 14)
  line-height: (29rem / 14)


@import '_color/heading_color_white'
@import '_color/heading_color_purple'
@import '_color/heading_color_gray'
@import '_type/heading_type_h2'
@import '_type/heading_type_h3'
