@import '@/styles/colors'
@import '@/styles/constants'

.heading
  margin: 0
  color: $dark-shade-100
  font-family: 'Montserrat', Arial, sans-serif
  font-weight: bold

  font-size: (24rem / $default-font-size)
  line-height: (29rem / $default-font-size)

  &_color
    &_white
      color: #fff

    &_purple
      color: $purple

    &_gray
      color: $dark-shade-50

    &_inherit
      color: inherit

  &_type
    &_h2
      font-size: (19rem / $default-font-size)
      line-height: (23rem / $default-font-size)

    &_h3
      font-size: (12rem / $default-font-size)
      line-height: (15rem / $default-font-size)
      text-transform: uppercase
