@import '@/sass/colors'


.heading
  margin: 0
  color: $dark-shade-100
  font-family: 'Montserrat', Arial, sans-serif
  font-weight: bold

  font-size: (24rem / 14)
  line-height: (29rem / 14)
  &_color
    &_white
      color: #fff
    &_purple
      color: $purple
    &_gray
      color: $dark-shade-50
  &_type
    &_h2
      font-size: (19rem / 14)
      line-height: (23rem / 14)
    &_h3
      font-size: (12rem / 14)
      line-height: (15rem / 14)
      text-transform: uppercase
