include ../../../text-field/text-field


mixin signup-card__password
    .signup-card__password
        +text-field({
            inputOptions: {
                type: 'password',
                placeholder: 'Пароль'
            }
        })
