include ../arrow/arrow
include ../heading/heading

include __arrow/button__arrow
include __link/button__link


mixin button({text = 'click me', hasLink = true, link = 'change-me', modifiers = {isSecondary, withoutFrame, isLong, isHovered, textColor}} = {})
    -
        let className = 'button';
        let headingOptions = {
            text,
            type: 'h3',
            color: 'white'
        };

        if (modifiers.isSecondary) {
            className += ' button_secondary';
            headingOptions.color = 'purple';
        }
        if (modifiers.withoutFrame) {
            headingOptions.color = 'purple';
            className += ' button_without-frame';
        }
        if (modifiers.isLong) {
            className += ' button_long';
        }
        if (modifiers.isHovered) {
            className += ' button_hovered';
        }
        switch (modifiers.textColor) {
            case 'white':
                headingOptions.color = 'white';
                break;
            case 'purple':
                headingOptions.color = 'purple';
                break;
            case 'gray':
                headingOptions.color = 'gray';
                break;
            default:
                break;
        }

    button(class=className)
        +button__link({
            headingOptions,
            hasLink,
            link
        })
        +button__arrow
