include ../arrow/arrow
include ../heading/heading


mixin button({text = 'click me', hasLink = true, link = 'change-me', modifiers = {isSecondary, withoutFrame, isLong, isHovered, textColor}, withJs = false} = {})
    -
        let className = 'button';
        let headingOptions = {
            text,
            type: 'h3',
            color: 'white'
        };

        if (modifiers.isSecondary) {
            className += ' button_secondary';
            headingOptions.color = 'purple';
        }
        if (modifiers.withoutFrame) {
            headingOptions.color = 'purple';
            className += ' button_without-frame';
        }
        if (modifiers.isLong) {
            className += ' button_long';
        }
        if (modifiers.isHovered) {
            className += ' button_hovered';
        }
        if (withJs) {
          className += ' js-button';
        }

        switch (modifiers.textColor) {
            case 'white':
                headingOptions.color = 'white';
                break;
            case 'purple':
                headingOptions.color = 'purple';
                break;
            case 'gray':
                headingOptions.color = 'gray';
                break;
            default:
                break;
        }

    button(class=className)
        a(href=hasLink ? link : false).button__link
            +heading(headingOptions)
        .button__arrow
            +arrow({
                type: 'forward',
                color: 'white'
            })
