@import '@/sass/colors.sass'
@import '@/common.blocks/arrow/arrow'
@import '@/common.blocks/heading/heading'


.button
  display: flex
  position: relative
  box-sizing: border-box
  padding: 0
  border: none
  outline: none
  border-radius: 22px
  background: $purple-gradient
  transition: .2s

  &:hover
    opacity: .5


@import '__arrow/button__arrow'
@import '__link/button__link'

@import '_hovered/button_hovered'
@import '_long/button_long'
@import '_secondary/button_secondary'
@import '_without-frame/button_without-frame'
