.button
  display: flex
  position: relative
  box-sizing: border-box
  padding: 0
  border: none
  outline: none
  border-radius: 22px
  background: $purple-gradient
  transition: .2s

  &:hover
    opacity: .5

  &__arrow
    position: absolute
    right: 0
    display: none

  &__text
    padding: 14px 19.5px 15px
    width: 100%
    height: 100%
    box-sizing: border-box
    border-radius: 22px
    text-decoration: none
    cursor: pointer
    z-index: 1
    text-align: center

  &_hovered
    opacity: .5

  &_long
    max-width: 320px
    width: 100%

    .button__arrow
      display: block

  &_secondary
    &:before
      content: ''
      position: absolute
      top: 2px
      bottom: 2px
      left: 2px
      right: 2px
      background: #fff
      border-radius: 20px
      z-index: 0

    &:hover
      background: linear-gradient(180deg, #BC9CFF80 0%, #8BA4F980 100%)
      opacity: 1

    &.button_hovered
      background: linear-gradient(180deg, #BC9CFF80 0%, #8BA4F980 100%)
      opacity: 1

  &_without-frame
    background: transparent

    .button__text
      padding: 0
