include ../arrow/arrow
include ../heading/heading

include __arrow/button__arrow
include __link/button__link


//-
    text: string
    link: string | false
    modifiers: {
        secondary: boolean
        noFrame: boolean
        long: boolean
        hovered: boolean
        textColor: 'white' | 'purple' | 'gray'
    }
mixin button({text = 'click me', link = 'change-me', modifiers = {secondary, noFrame, long, hovered, textColor}} = {})
    -
        let className = 'button';
        let headingOptions = {
            text,
            type: 'h3',
            color: 'white'
        };

        if (modifiers.secondary) {
            className += ' button_secondary';
            headingOptions.color = 'purple';
        }
        if (modifiers.noFrame) {
            headingOptions.color = 'purple';
            className += ' button_no-frame';
        }
        if (modifiers.long) {
            className += ' button_long';
        }
        if (modifiers.hovered) {
            className += ' button_hovered';
        }
        switch (modifiers.textColor) {
            case 'white':
                headingOptions.color = 'white';
                break;
            case 'purple':
                headingOptions.color = 'purple';
                break;
            case 'gray':
                headingOptions.color = 'gray';
                break;
            default:
                break;
        }

    button(class=className)
        +button__link(headingOptions, link)
        +button__arrow
