include ../__subtitle/signup-card__subtitle
include ../__email/signup-card__email
include ../__password/signup-card__password


mixin signup-card__login-details
    .signup-card__login-details
        +signup-card__subtitle('Данные для входа в сервис')
        +signup-card__email
        +signup-card__password
