mixin like-button({likesNum = 0, isActive = false})
    -
        let className = 'like-button js-like-button';
        if (isActive) {
            className += ' like-button_active';
        }
    button(class=className)
        span.like-button__heart.material-icons
        span.like-button__number.js-like-button__number= likesNum
