.like-button
  width: 40px
  height: 20px
  position: relative
  display: flex
  align-items: center
  box-sizing: border-box
  border: 1px solid $dark-shade-25
  border-radius: 10px
  cursor: pointer
  background-color: #fff
  padding: 0

  &__heart
    margin-left: 4px
    display: flex
    &:after
      content: 'favorite_border'
      font-size: (10rem / 14)
      color: $dark-shade-25

  &__number
    margin: 0 0 0 4px
    font-family: Montserrat, Arial, sans-serif
    font-size: (10rem / 14)
    line-height: (12rem / 14)
    color: $dark-shade-25
    user-select: none

  &_active
    border-color: $purple

    .like-button__heart
      &:after
        content: 'favorite'
        color: $purple

    .like-button__number
      color: $purple
