@import '@/sass/colors'


.navigation__item
  margin-right: 20px
  display: flex
  align-items: center
  color: $dark-shade-50
  font-size: 1rem
  line-height: (17rem / 14)
  &:last-child
    margin-right: 0


@import '_active/navigation__item_active'
@import '_with-dropdown/navigation__item_with-dropdown'
