include ../__item-arrow/navigation__item-arrow
include ../__link/navigation__link


mixin navigation__item({name, dropdown = false, active = false, link = false})
    -
        let className = 'navigation__item';
        if (active) {
            className += ' navigation__item_active';
        }
        if (dropdown) {
            className += ' navigation__item_with-dropdown'
        }
    li(class=className)
        if (dropdown)
            div= name
            +navigation__item-arrow
        else
            +navigation__link(name, link)
