.room-card__room-info
  margin-top: 3px
  padding-bottom: 10px
  position: relative
  &:after
    content: ''
    width: 100%
    height: 1px
    background-color: $dark-shade-10
    position: absolute
    bottom: -3px
