include ../../heading/heading
include ../../button/button

include __dates/search-card__dates
include __guests/search-card__guests


mixin search-card
    .search-card
        +heading({
            type: 'h1',
            text: 'Найдём номера под ваши пожелания'
        })
        +search-card__dates
        +search-card__guests
        +button({
            text: 'Подобрать номер',
            link: 'search-room.html',
            modifiers: {
                long: true,
                textColor: 'white',
            }
        })
