@import '@/common.blocks/heading/heading'
@import '@/common.blocks/button/button'


.search-card
  width: 100%
  max-width: 380px
  padding: 39px 29px 29px 29px
  background-color: #fff
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2)
  box-sizing: border-box
  border: 1px solid rgba(0, 0, 0, 0.12)


@import '__guests/search-card__guests'
@import '__dates/search-card__dates'
