include ../__nav/footer__nav


mixin footer__menu
    .footer__menu
        +footer__nav('Навигация', [
            { name: 'О нас' },
            { name: 'Новости' },
            { name: 'Служба поддержки' },
            { name: 'Услуги' }
        ])
        +footer__nav('О нас', [
            { name: 'О сервисе' },
            { name: 'Наша команда' },
            { name: 'Вакансии' },
            { name: 'Инвесторы' }
        ])
        +footer__nav('Служба поддержки', [
          { name: 'Соглашения' },
          { name: 'Сообщества' },
          { name: 'Связь с нами' }
        ])
