include __button/checkbox-buttons__button


//-
    items: Array<{
        name: string,
        description?: string,
        checked: boolean
    }>
    rich: boolean
mixin checkbox-buttons({items, rich = false})
    -
        let className = 'checkbox-buttons';
        if (rich) {
            className += ' checkbox-buttons_rich';
        }
    div(class=className)
        each item in items
            +checkbox-buttons__button({
              item,
              rich
            })
