@import '@/styles/colors'
@import '@/styles/constants'

.checkbox-buttons
  display: flex
  flex-direction: column
  margin: 0
  padding: 0
  list-style: none

  &__item
    margin-bottom: 10.2px

    &:last-child
      margin-bottom: 0

  &__button
    display: flex

  &__input:checked
    + .checkbox-buttons__name::before
      border: 1px solid $purple
      background-image: url(@/common.blocks/checkbox-buttons/images/done.svg)

  &__input
    position: absolute
    margin: 0
    z-index: -1
    opacity: 0

  &__name
    padding: 2px 0 0 30px
    display: inline-flex
    user-select: none
    position: relative
    font-family: Montserrat, Arial, sans-serif
    font-size: 1rem
    line-height: 18px
    color: $dark-shade-50
    box-sizing: border-box

    &:before
      content: ''
      width: 20px
      height: 20px
      position: absolute
      left: 0
      top: 0
      box-sizing: border-box
      border: 1px solid #adb5bd
      display: inline-block
      border-radius: 4px
      margin-right: 0.5em
      cursor: pointer
      background-repeat: no-repeat
      background-position: 50% 40%

  &__description
    font-family: Montserrat, Arial, sans-serif
    font-size: (12rem / $default-font-size)
    line-height: 1rem
    color: $dark-shade-50
    padding-left: 30px
    margin-top: 5px

  &_rich
    .checkbox-buttons__item
      margin-bottom: 9px
    .checkbox-buttons__button
      display: flex
      flex-direction: column

    .checkbox-buttons__name
      font-weight: bold
      color: $dark-shade-75
