include __name/counting-item__name
include __counter/counting-item__counter


//-
    {
        name: string
        value: number
    }
mixin counting-item({name = '', value = 0} = {})
    .counting-item
        +counting-item__name(name)
        +counting-item__counter(value)
