.counting-item
  display: flex
  justify-content: space-between
  align-items: center


@import '__counter/counting-item__counter'
@import '__change-button/counting-item__change-button'
@import '__value/counting-item__value'
@import '__name/counting-item__name'
