include ../heading/heading


mixin counting-item({name = '', value = 0, nameDeclensions} = {})
    .counting-item.js-counting-item(data-words=nameDeclensions ? JSON.stringify(nameDeclensions) : false)
        .counting-item__name.js-counting-item__name
            +heading({
                text: name,
                withJs: true,
            })
        .counting-item__counter
            .counting-item__change-button.counting-item__change-button_action_decrease.js-counting-item__change-button_action_decrease -
            .counting-item__value.js-counting-item__value
                +heading({
                    text: value,
                    withJs: true,
                })
            .counting-item__change-button.counting-item__change-button_action_increase.js-counting-item__change-button_action_increase +
