@import '@/styles/colors'
@import '@/common.blocks/heading/heading'

.counting-item
  display: flex
  justify-content: space-between
  align-items: center

  &__counter
    display: flex
    align-items: center

  &__change-button
    width: 30px
    height: 30px
    box-sizing: border-box
    border: 1px solid $dark-shade-25
      radius: 50%
    display: flex
    justify-content: center
    align-items: center
    color: $dark-shade-50
    cursor: pointer
    user-select: none
    padding: 0
    background-color: #fff

    &_disabled
      opacity: .5
      cursor: default

  &__value
    min-width: 32px
    margin-bottom: 3px
    display: flex
    justify-content: center
    user-select: none

  &__name
    margin-bottom: 3px
