include __button/radio-buttons__button


mixin radio-buttons({items, itemsName})
    .radio-buttons
        each text, index in items
            - const checked = index === 0;
            +radio-buttons__button({
                text,
                checked,
                inputName: itemsName
            })
