.radio-buttons
  display: flex

  &__input
    margin: 0
    position: absolute
    z-index: -1
    opacity: 0

  &__button-text
    margin: 0
    padding-left: 30px
    position: relative
    color: $dark-shade-50
    line-height: (20rem / 14)
    user-select: none
    display: flex
    align-items: center

    &:before
      content: ''
      margin-right: 0.5em
      position: absolute
      left: 0
      display: inline-block
      width: 20px
      height: 20px
      box-sizing: border-box
      border: 1px solid $dark-shade-25
      border-radius: 50%

  &__button
    margin-left: 20px
    position: relative
    cursor: pointer
    &:nth-child(1)
      margin-left: 0

  &__input:checked
    + .radio-buttons__button-text
      color: $dark-shade-75

      &:before
        border-color: $purple

      &:after
        content: ''
        width: 12px
        height: 12px
        position: absolute
        left: 4px
        display: inline-block
        background: $purple-gradient
        border-radius: 50%
