include ../../text-field/text-field


mixin signup-card__surname
    .signup-card__surname
        +text-field({
            inputOptions: {
                type: 'text',
                placeholder: 'Фамилия'
            }
        })
