.search-card
    width: 380px
    height: 374px

.date__title
    margin-bottom: 5.5px

.search-card__date
    display: flex
    justify-content: space-between
    margin-top: 20px

.search-card__guests
    margin-top: 20px
.guests__title
    margin-bottom: 5px

.search-card__button
    width: 100%
    margin-top: 30.5px

.guests-dropdown
    width: 100%

.date-dropdown
    width: 150px