include ../../dropdown/dropdown.pug
include ../../button/button


.search-card.card
    h1.search-card__title Найдём номера под<br>ваши пожелания

    .search-card__date.date
        .search-card__coming
            h3.date__title Прибытие
            +dropdown("date-dropdown", "ДД.ММ.ГГГГ")

        .search-card__departure
            h3.date__title Выезд
            +dropdown("date-dropdown", "ДД.ММ.ГГГГ")

    .search-card__guests
        h3.guests__title Гости
        +dropdown("guests-dropdown", "Гости")

    +button("search-card__button", "Подобрать номер", true)


