include ../../date-picker/datepicker
include ../../dropdown/dropdown
include ../../button/button


mixin search-card
    .search-card
        h1.search-card__title Найдём номера под<br>ваши пожелания

        .search-card__date
            +datepicker(true, ['Прибытие', 'Выезд'], false, false)

        .search-card__guests
            +dropdown('Сколько гостей', 'Гости', {
                className: false,
                items: {
                    item1: {
                        name: 'Взрослые',
                        value: '2'
                    },
                    item2: {
                        name: 'Дети',
                        value: '1'
                    },
                    item3: {
                        name: 'Младенцы',
                        value: '0'
                    }
                }
            }, false, false)

        .search-card__button
            +button('Подобрать номер', 'button_extended')



