.search-card
    width: 380px
    height: 374px
    background-color: #fff
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2)
    border: 1px solid rgba(0, 0, 0, 0.12)
    padding: 39px 29px 29px 29px
    box-sizing: border-box

.search-card__title
    letter-spacing: .055em

.search-card__date
    margin-top: 20px

.search-card__guests
    margin-top: 20px

.search-card__button
    margin-top: 31px
