include ../__apply-button/items-counter__apply-button
include ../__clear-button/items-counter__clear-button


mixin items-counter__button-panel
    .items-counter__button-panel
        +items-counter__clear-button
        +items-counter__apply-button
