@import '@/sass/colors.sass'

.dropdown
    border: 1px solid $dark-shade-25
    box-sizing: border-box
    border-radius: 4px
    height: 44px
    display: flex
    align-items: center
    justify-content: space-between

.dropdown__text
    margin-left: 15px

.dropdown__arrow
    color: $dark-shade-50

