mixin dropdown(className, info)
    div(class=`${className} dropdown`)
        div(class=`${className}__text dropdown__text`)= info
        i(class=`${className}__arrow dropdown__arrow material-icons`) expand_more
