@import '@/sass/colors.sass'

.dropdown
    position: relative

.dropdown__input
    border: 1px solid $dark-shade-25
    box-sizing: border-box
    border-radius: 4px
    height: 44px
    display: flex
    align-items: center
    justify-content: space-between
    transition: 200ms
    &:hover
        border-color: $dark-shade-50
        color: $dark-shade-75
        line-height: 24px

.dropdown__info
    display: flex
    justify-content: space-between
    margin-bottom: 5px

.dropdown__description
    text-transform: uppercase
    font-size: 12px
    line-height: 15px
    color: $dark-shade-50

.dropdown__text
    margin-left: 15px

.dropdown__arrow
    color: $dark-shade-50
    padding: 10px

.dropdown__popup
    overflow: hidden
    transition: all 200ms
    top: 100%
    width: 100%
    height: 0
    position: absolute
    z-index: 1

.dropdown_expanded
    .dropdown__popup
        height: 159px
    .dropdown__input
        border:
            bottom-right-radius: unset
            bottom-left-radius: unset


.dropdown_small
    width: 266px
    .dropdown__popup
        .items-popup
            .items-popup__clear, .items-popup__confirm
                display: none

.dropdown_small.dropdown_expanded
    .dropdown__popup
        height: 119px

