include ../__item/navigation__item


mixin navigation__list({items, activeItem})
    ul.navigation__list
        each item, itemIndex in items
            - const isActive = activeItem !== undefined ? (itemIndex === activeItem) : false;
            +navigation__item({
                isActive,
                name: item.name,
                isDropdown: item.isDropdown
            })
