.comment__header
  max-height: 48px
  display: flex
  flex-wrap: wrap
  flex-direction: column
  align-content: flex-start


@import '../__avatar/comment__avatar'
@import '../__user-name/comment__user-name'
@import '../__date/comment__date'
