extends ../../../templates/website-pages

include ../../../common.blocks/search-card/search-card


block vars
    - const title = 'Landing page'


block content
    article.landing-page
        .container
            .landing-page__search-card
                +search-card
            p.landing-page__tagline Лучшие номера для вашей работы,<br>отдыха и просто вдохновения
