include ../../heading/heading


mixin room-info__number(number, isSmall = false)
    -
        let className = 'room-info__number';
        let text = '';
        if (isSmall) {
            className += ' room-info__number_size_small';
            text = number;
        }
    div(class=className)= text
        if (!isSmall)
            +heading({
                text: number,
                type: 'h1'
            })
