@import '@/common.blocks/social-links/social-links'


.footer__bottom
  max-width: 1160px
  margin: 0 auto
  box-sizing: border-box
  padding: 23px 0
  position: relative
  display: flex
  justify-content: space-between
  align-items: center


@media screen and (max-width: 1200px)
  .footer__bottom
    flex-direction: column
    justify-content: center
