include __header/comment__header
include __content/comment__content


mixin comment({avatarLink, userName, date, text, likeOptions})
    .comment
        +comment__header({
            avatarLink,
            userName,
            date
        })
        +comment__content({
            likeOptions,
            text
        })
