@import '@/styles/colors'
@import '@/styles/constants'
@import '@/common.blocks/like-button/like-button'

.comment
  max-width: 712px
  width: 100%

  &__avatar
    width: 48px
    height: 48px
    display: inline-block
    border-radius: 50%
    box-sizing: border-box
    box-shadow: 0 10px 20px 0 $dark-shade-10

  &__user-name
    text-decoration: none
    margin: 4px 0 0 9px
    display: inline-block
    font-family: Montserrat, Arial, sans-serif
    font-weight: bold
    font-style: normal
    font-size: 1rem
    line-height: (18rem / $default-font-size)
    color: $dark-shade-75

  &__date
    line-height: 1
    margin: 5px 0 0 8px

  &__header
    max-height: 48px
    display: flex
    flex-wrap: wrap
    flex-direction: column
    align-content: flex-start

  &__likes
    display: inline-block
    margin-left: 4px
    margin-top: 2px

  &__text
    display: inline-block
    max-width: 654px
    width: 100%
    margin: 1px 0 0 14px

  &__content
    margin-top: 10px
    position: relative
    display: flex
    justify-content: space-between
