include ../../button/button


mixin items-counter__apply-button
    .items-counter__apply-button
        +button({
            text: 'Применить',
            hasLink: false,
            modifiers: {
                withoutFrame: true,
                color: 'purple'
            }
        })
