mixin footer-creative
    .footer-creative
        img.footer-creative__logo(src='images/logo.svg', alt='logo')
        .footer-creative__copyright Copyright © 2018 Toxin отель. Все права зачищены.
        .footer-creative__social
            a(href='change-me')
                i(class="footer__social-link fab fa-twitter")
            a(href='change-me')
                i(class="footer__social-link fab fa-facebook-square")
            a(href='change-me')
                i(class="footer__social-link fab fa-instagram")