.footer-creative
    background-color: #fff
    width: 768px
    padding: 120px 0
    box-shadow: 0 10px 20px 0 $dark-shade-5
    display: flex
    align-items: center
    flex-direction: column

.footer-creative__copyright
    margin-top: 18px

.footer-creative__social
    margin-top: 20px
    a
        &:first-child
            i
                margin-left: 0

.footer-creative__social-link
    margin-left: 20px
    cursor: pointer
    &:before
        background: $purple-gradient
        color: transparent
        -webkit-background-clip: text
        font-size: 24px