include ../__menu/header__menu
include ../__hamburger/header__hamburger
include ../__logo/header__logo


mixin header__container(userName, activeLink)
    .header__container
        +header__logo
        +header__menu(userName, activeLink)
        +header__hamburger
