include ../../navigation/navigation


mixin header__nav-container(activeLinkIndex)
    nav.header__nav-container
        +navigation({
            activeLinkIndex,
            items: [
                {
                    name: 'О нас',
                    isDropdown: false
                },
                {
                    name: 'Услуги',
                    isDropdown: true
                },
                {
                    name: 'Вакансии',
                    isDropdown: false
                },
                {
                    name: 'Новости',
                    isDropdown: false
                },
                {
                    name: 'Соглашения',
                    isDropdown: true
                }
            ]
        })
