@import '@/common.blocks/navigation/navigation'


.header__nav-container
  margin-right: 22px
  display: flex
  align-items: center


@media screen and (max-width: 1200px)
  .header__nav-container
    margin-right: 0
    margin-bottom: 40px
