@import '@/sass/colors'


.like-button__number
  margin-left: 4px
  font-family: Montserrat, Arial, sans-serif
  font-size: (10rem / 14)
  line-height: (12rem / 14)
  color: $dark-shade-25
  user-select: none
