include ../../button/button


mixin signup-card__account-exists
    .signup-card__account-exists
        span Уже есть аккаунт на Toxin
        +button({
            text: 'Войти',
            hasLink: false,
            modifiers: {
                isSecondary: true
            }
        })
