.header__hamburger
  height: 30px
  width: 40px
  display: none
  flex-direction: column
  justify-content: space-between


@import '../__hamburger-line/header__hamburger-line'
@import '_visible/header__hamburger_visible'
