include __input/text-field__input
include __arrow/text-field__arrow


mixin text-field({inputOptions = {}, arrowOptions = false, modifiers = {}} = {})
    -
        let className = 'text-field';

        if (modifiers.focused) {
            className += ' text-field_focused';
        }
        if (modifiers.short) {
            className += ' text-field_short';
        }
        if (modifiers.flatBottom) {
            className += ' text-field_flat-bottom';
        }

    div(class=className)
        +text-field__input(inputOptions)
        if (arrowOptions)
            +text-field__arrow(arrowOptions)
