@import '@/styles/colors'
@import '@/styles/constants'
@import '@/common.blocks/arrow/arrow'

.text-field
  position: relative
  width: 100%
  max-width: 320px

  &__input
    width: 100%
    padding: 12px 14px
    box-sizing: border-box
    outline: none
    border: 1px solid $dark-shade-25
    border-radius: 4px

    font-family: "Montserrat", Arial, sans-serif
    font-size: 1rem
    line-height: (18rem / $default-font-size)
    color: $dark-shade-75
    transition: .2s
    text-overflow: ellipsis

    &_with-arrow
      padding-right: 44px

    &::placeholder
      color: $dark-shade-25

    &:focus, &:hover
      border-color: $dark-shade-50

  &__arrow
    position: absolute
    right: 0
    top: 0
    background-color: transparent
    padding: 0
    border: none

  &_focused
    .text-field__input
      border-color: $dark-shade-50

  &_short
    max-width: 266px

  &_flat-bottom
    .text-field__input
      border:
        bottom-right-radius: unset
        bottom-left-radius: unset

  &_clickable
    .text-field__input
      cursor: pointer
