include ../../../items-counter/items-counter
include  ../../../dropdown/dropdown


mixin booking-card__guests
    .booking-card__guests
        +dropdown({
            inputOptions: {
                value: '3 гостя',
                placeholder: 'Сколько гостей',
            },
            popupMixinOptions: {
                name: 'items-counter',
                params: {
                    items: [
                        {
                            name: 'Взрослые',
                            value: 2,
                        },
                        {
                            name: 'Дети',
                            value: 1,
                        },
                        {
                            name: 'Младенцы',
                            value: 0,
                        },
                    ],
                },
            },
            title: 'Гости',
        })
