.range-slider
    width: 266px

.range-slider__info
    margin-bottom: 23px
    display: flex
    justify-content: space-between

.range-slider__value
    font-family: Montserrat, sans-serif
    font-size: 12px
    line-height: 15px

    color: $dark-shade-50

.range-slider__slider
    width: 100%
    height: 6px
    border: 1px solid $dark-shade-25
    border-radius: 3px
    display: flex
    align-items: center
    box-sizing: border-box

.ui-slider
    .ui-slider-range
        top: -1px
        height: 6px
        background: $green-gradient
        z-index: 0

.ui-slider-handle.ui-state-default
    width: 12px
    height: 12px
    border-radius: 50%
    background: $green-gradient
    border: 2px solid #fff
    z-index: 0

    top: -6px

.ui-state-focus
    outline: none

.range-slider__description
    font-size: 12px
    line-height: 14px
    color: $dark-shade-50
    margin-top: 14px
