@import '@/common.blocks/header/header'
@import '@/common.blocks/footer/footer'
@import '@/common.blocks/heading/heading'
@import '@/common.blocks/icon-text-list/icon-text-list'
@import '@/common.blocks/donut-chart/donut-chart'
@import '@/common.blocks/comment/comment'
@import '@/common.blocks/bullet-list/bullet-list'
@import '@/common.blocks/booking-card/booking-card'


.room-details
  position: relative
  &:after
    content: ''
    background-color: #e5e5e5
    height: 1px
    width: 100%
    position: absolute
    bottom: 0

  &__main-image-container
    max-height: 485px
    grid-area: main-img
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
  &__side-image-container
    max-height: 242.5px
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden

  &__room-images
    display: grid
    grid-template-columns: 1fr 461px
    grid-template-areas: "main-img ." "main-img ."

  &__main-image
    width: 100%
  &__side-image
    width: 100%

  &__subtitle
    margin-bottom: 20px
    &_indented
      margin-left: 20px

  &__comments
    margin-top: 1px
    position: relative
    grid-area: comments
  &__comments-number
    position: absolute
    right: 0
    top: 3px
  &__comment
    margin-top: 23px
    &:first-child
      margin-top: 0

  &__booking-card
    grid-area: booking-card

  &__container
    padding: 70px 0 72px
    display: grid
    grid-template-columns: 290px 350px 380px
    grid-row-gap: 30px
    justify-content: space-between
    grid-template-areas: ". . booking-card" "comments comments booking-card" ". . booking-card"


@media screen and (max-width: 1460px)
  .room-details
    &__room-images
      grid-template-columns: 1fr 1fr
      grid-template-areas: "main-img main-img" ". ."
    &__side-image-container
      max-height: 300px

@media screen and (max-width: 1200px)
  .room-details
    &__container
      grid-template-columns: auto 380px
      grid-column-gap: 70px
      justify-content: center
      grid-template-areas: ". ." "comments booking-card" ". ." ". ."

@media screen and (max-width: 950px)
  .room-details
    &__container
      grid-template-columns: 1fr
      grid-template-areas: "." "." "comments" "." "." "booking-card"

@media screen and (max-width: 800px)
  .room-details
    &__room-images
      grid-template-columns: 1fr
      grid-template-areas: "main-img" "." "."

@media screen and (max-width: 450px)
  .room-details
    &__comments-number
      top: 60px
