@import '@/styles/colors'
@import '@/common.blocks/header/header'
@import '@/common.blocks/footer/footer'
@import '@/common.blocks/heading/heading'
@import '@/common.blocks/icon-text-list/icon-text-list'
@import '@/common.blocks/donut-chart/donut-chart'
@import '@/common.blocks/comment/comment'
@import '@/common.blocks/bullet-list/bullet-list'
@import '@/common.blocks/booking-card/booking-card'

.room-details
  position: relative

  &:after
    content: ''
    background-color: #e5e5e5
    height: 1px
    width: 100%
    position: absolute
    bottom: 0

  &__main-image-container
    max-height: 485px
    grid-area: main-img
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden

  &__side-image-container
    max-height: 242.5px
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden

    @media (max-width: 1200px)
      max-height: 300px

  &__room-images
    display: grid
    grid-template-columns: 1fr max-content
    grid-template-areas: "main-img ." "main-img ."

    @media (max-width: 1200px)
      grid-template-columns: 1fr 1fr
      grid-template-areas: "main-img main-img" ". ."

    @media (max-width: 800px)
      grid-template-columns: 1fr
      grid-template-areas: "main-img" "." "."

  &__main-image
    width: 100%
    @media (max-width: 1460px)
      height: 100%

  &__side-image
    width: 100%

  &__expressions-title
    margin: 0 0 18px 5px

  &__room-info-title
    margin-bottom: 20px

  &__comments-title
    display: flex
    justify-content: space-between
    margin-bottom: 18px

    @media (max-width: 450px)
      flex-direction: column

  &__comments
    position: relative
    grid-area: comments

  &__comments-number
    margin: 2px 3px 0 0
    color: $dark-shade-50

  &__comment
    margin-bottom: 22px
    &:last-child
      margin-bottom: 0

  &__rules-title
    margin: 0 0 19px 20px

  &__booking-card
    grid-area: booking-card

  &__cancel
    margin-left: 5px

  &__cancel-title
    margin-bottom: 18px

  &__container
    padding: 70px 0 72px
    display: grid
    grid-template-columns: 290px auto 380px
    grid-column-gap: 66px
    grid-row-gap: 32px
    justify-content: space-between
    grid-template-areas: ". . booking-card" "comments comments booking-card" ". . booking-card"

    @media (max-width: 1200px)
      grid-template-columns: auto 380px
      grid-column-gap: 70px
      justify-content: center
      grid-template-areas: ". ." "comments booking-card" ". ." ". ."

    @media (max-width: 950px)
      grid-template-columns: 1fr
      grid-template-areas: "." "." "comments" "." "." "booking-card"
