@import '@/sass/headings'

@import '@blocks/header/header'
@import '@blocks/footer/footer'

@import '@blocks/cards/booking-card/booking-card'
@import '@blocks/donut-chart/donut-chart'


.room-details
    position: relative
    width: 100%
    &:after
        content: ''
        background-color: #e5e5e5
        height: 1px
        width: 100%
        position: absolute
        bottom: 0

    &__room-images
        display: flex
        height: 485px
        overflow: hidden

    &__main-image-container
        width: 100%
        display: flex
        align-items: center
    &__main-image
        min-width: 100%
        min-height: 100%
        z-index: -1

    &__side-images-container
        width: 461px
        height: 100%
        position: relative
    &__side-image
        min-width: 100%
        min-height: 50%
        z-index: -1
        position: absolute
        &:nth-child(2)
            bottom: 0

    &__container
        display: flex
        justify-content: space-between
        overflow: visible
        padding-bottom: 60px
        flex-wrap: wrap


    &__info-container
        width: 710px
        margin-top: 70px
        margin-right: 70px
        display: inline-flex
        justify-content: space-between
        flex-wrap: wrap

    &__comments
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin-top: 13px
        margin-bottom: 32px
        .comment
            margin-top: 18px
            &:nth-of-type(2)
                margin-top: 22px

    &__comments-title
        +h2
        margin-bottom: 2px

    &__comments-number
        color: $dark-shade-50

    &__booking-card
        display: inline-block
        margin-top: 70px

    &__cancel
        width: 341px
        margin-right: 8px
    &__cancel-text
        color: $dark-shade-75
        display: block
        margin-top: 18px

    &__expressions-title, &__features-title
        +h2
        margin-bottom: 20px

    &__expressions
        margin-right: 38px
    &__expressions-title
        margin-left: 5px

    &__rules-title
        +h2
        margin-bottom: 18px
        margin-left: 20px

    &__cancel-title
        +h2

    &__rules
        .bullet-list
            transform: translateX(-2px)

@media screen and (max-width: 1340px)
    .room-details
        &__room-images
            flex-direction: column
            height: unset
        &__side-images-container
            width: 100%
            display: flex
            justify-content: space-around
        &__side-image
            min-width: unset
            min-height: unset
            position: relative

@media screen and (max-width: 1160px)
    .room-details__container
        justify-content: center

@media screen and (max-width: 935px)
    .room-details__side-images-container
        display: none

@media screen and (max-width: 935px)
    .room-details__info-container
        width: 100%
        margin: 0
@media screen and (max-width: 870px)
    .room-details__comments
        width: 100%

@media screen and (max-width: 672px)
    .room-details
        &__cancel
            margin-top: 30px
        &__main-image-container
            display: flex
            justify-content: center
        &__main-image
            height: 100%
            width: unset
            min-width: unset
