.cards
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  padding: 150px calc((100% - 1160px) / 2) 0
  background-color: #F4F4F6

  @media (max-width: 1200px)
    flex-direction: column
    align-items: center

  &__column
    width: 100%
    max-width: 380px
    &_size
      &_small
        max-width: 320px

  &__elem
    margin-top: 40px
    &:nth-child(1)
      margin-top: 0

      @media (max-width: 1200px)
        margin-top: 40px
