@import '@/sass/colors.sass'

.container
    padding: 150px 140px 0 140px

body
    background-color: #F4F4F6

.cards
    display: flex

.cards__column
    margin-right: 40px
    &:last-child
        margin-right: 0