extends ../../../templates/ui-kit.pug


include ../../../blocks/cards/search/search-card
include ../../../blocks/cards/signup/signup-card
include ../../../blocks/cards/booking/booking-card
include ../../../blocks/cards/signin/signin-card
include ../../../blocks/cards/room/room-card


block vars
    - let name = "cards"


block content
    .container
        .cards
            .cards__column-1
                .card-elem
                    +search-card
                .card-elem
                    +signup-card

            .cards__column-2
                .card-elem
                    +booking-card({
                        roomInfo: {
                            number: 888,
                            type: 'люкс',
                            price: '9 990₽'
                        },
                        bookingItems: [
                            {
                              name: '9 990₽ х 4 суток',
                              price: '39 960₽'
                            },
                            {
                              name: 'Сбор за услуги: скидка 2 179₽',
                              price: '0₽'
                            },
                            {
                              name: 'Сбор за дополнительные<br>услуги',
                              price: '300₽'
                            }
                        ],
                        datepickerDates: ['19.08.2019', '23.08.2019'],
                        roomFullPrice: '38 081₽',
                    })
                .card-elem
                    +signin-card

            .cards__column-3
                .card-elem
                    .date-picker-example.js-date-picker-example.js-date-picker

                .card-elem
                    +room-card({
                        roomImagesSrc: ['images/room-img_1.jpg', 'images/room-img_2.jpg',
                          'images/room-img_3.jpg', 'images/room-img_4.jpg'],
                        roomInfo: {
                            number: 888,
                            type: 'Люкс',
                            rating: 5,
                            price: '9 900₽'
                        },
                        numOfComments: 145,
                        arrows: true,
                    })

                .card-elem
                    +room-card({
                        roomImagesSrc: ['images/room-img_2.jpg', 'images/room-img_3.jpg',
                          'images/room-img_4.jpg', 'images/room-img_5.jpg'],
                        roomInfo: {
                            number: 840,
                            type: false,
                            rating: 4,
                            price: '9 900₽'
                        },
                        numOfComments: 65,
                        arrows: false,
                    })
