@import '@/sass/colors.sass'


@import '@blocks/cards/search/search-card'
@import '@blocks/cards/signup/signup-card'
@import '@blocks/cards/booking/booking-card'
@import '@blocks/cards/signin/signin-card'
@import '@blocks/cards/room/room-card'



.logo
    position: absolute
    top: 30px
    left: 30px

.cards
    display: flex
    justify-content: space-between
    padding: 150px 0 0 0

.cards__column-1, .cards__column-2
    width: 380px
.cards__column-3
    width: 320px


body
    background-color: #F4F4F6

.card-elem
    margin-top: 40px
    &:nth-child(1)
        margin-top: 0

.date-picker-example
    position: relative
    .ui-datepicker-inline
        position: relative



@media screen and (max-width: 1200px)
    .cards
        flex-wrap: wrap
        justify-content: center

    .cards__column-2
        margin: 0 40px

    .cards__column-1
        margin-bottom: 50px

@media screen and (max-width: 801px)
    .cards__column-2
        margin-bottom: 50px
    .cards
        width: 100%

    .cards__column-1, .cards__column-2, .cards__column-3
        width: 90%
        margin: 0 auto
        display: flex
        flex-direction: column
        align-items: center

        margin-top: 40px
    .card-elem
        width: 100%
