.comment
    width: 712px

.comment__info
    height: 48px
    position: relative

.comment__user-avatar
    display: inline-block
    width: 48px
    height: 48px
    background-position: -22px -12px
    border: 2px solid #fff
    border-radius: 50%
    box-sizing: border-box
    box-shadow: 0 10px 20px 0 $dark-shade-10

.comment__user-name
    margin-left: 10px
    font-family: Montserrat, sans-serif
    font-weight: bold
    font-size: 14px
    line-height: 18px
    color: $dark-shade-75
    display: inline-block
    position: absolute
    top: 0
    margin-top: 3px

.comment__time
    display: inline-block
    position: absolute
    bottom: 0
    margin-left: 10px


.comment__content
    position: relative
    display: flex
    justify-content: space-between
    margin-top: 12px

.comment__likes
    display: inline-block

.comment__text
    display: inline-block
    width: 654px


@media screen and (max-width: 870px)
    .comment
        width: 356px