include ../../../button/button


mixin signin-card__account-not-exists
    .signin-card__account-not-exists
        span Нет аккаунта на Toxin?
        +button({
            text: 'Создать',
            link: false,
            modifiers: {
                secondary: true
            }
        })
