mixin date-picker({withBorder = false} = {})
    -
        let className = 'date-picker js-date-picker';
        if (withBorder) {
            className += ' date-picker_with-border';
        }
    div(class=className)
