mixin date-picker(options = {})
    -
        const {
            withBorder = false,
            dateFormat = null,
            initialDate = [null, null],
            isTextDouble = false,
        } = options;

        let className = 'date-picker js-date-picker';
        if (withBorder) {
            className += ' date-picker_with-border';
        }
    div(
        class=className
        data-date-format=dateFormat
        data-initial-date=initialDate
        data-is-text-double=isTextDouble ? 'true' : 'false'
    )
