@import '@/sass/colors'
@import '@/sass/headings'

.toggle-buttons
    &__title
        +h3
        margin-bottom: 14px
    &__buttons
        display: flex
        flex-direction: column
    &__label
        margin-top: 10px


.toggle-button
    $selector: &
    &:nth-child(1)
        margin-top: 0
    &__name
        position: relative
        display: flex
        align-items: center
        user-select: none


        font-family: Montserrat, Arial, sans-serif
        font-size: 1rem
        line-height: (24rem / 14)

        color: $dark-shade-75
        padding-left: 50px
        &:before
            content: ''
            width: 40px
            height: 20px
            border: 1px solid $dark-shade-25
            border-radius: 10px
            cursor: pointer
            position: absolute
            left: 0
        &:after
            content: ''
            position: absolute
            width: 12px
            height: 12px
            left: 4px
            background-color: $dark-shade-25
            -webkit-transition: 400ms
            transition: 400ms
            border-radius: 50%
            cursor: pointer
    &__input
        opacity: 0
        position: absolute
        z-index: -1
        &:checked + #{$selector}__name
            &:before
                border-color: $purple
            &:after
                transform: translateX(20px)
                background-color: $purple
