.booking-card__item
  display: flex
  justify-content: space-between
  margin-top: 16px
  position: relative
  &:first-child
    margin-top: 0


@import '../__item-text/booking-card__item-text'
@import '../__item-price/booking-card__item-price'
