@import '@/sass/headings'


.list
    $selector: &
    width: 266px
    &__title
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
    &__text
        +h3
        display: inline-block
    &__arrow
        padding: 0 10px
        transition: .4s
        line-height: (15rem / 14)
    &__checkboxes
        max-height: 0
        transition: .4s
        overflow: hidden
        margin-top: 18px
    &_expanded
        #{$selector}__checkboxes
            max-height: 200px
        #{$selector}__arrow
            transform: rotate(180deg)
