@import '@/common.blocks/rate-button/rate-button'


.room-card__rating-and-comments
  margin-top: 12px
  display: flex
  justify-content: space-between
  align-items: center


@import '../__comments/room-card__comments'
