include ../button/button
include ../navigation/navigation


mixin header({userName, activeLink} = {})
    header.header.js-header
        .header__container
            a.header__logo(href='landing-page.html')
                img(src='images/logo.svg', alt='logo')
            .header__menu.js-header__menu
                .header__nav-container
                    +navigation({
                        activeLinkIndex: activeLink,
                        items: [
                            {
                                name: 'О нас',
                            },
                            {
                                name: 'Услуги',
                                subitems: [{ name: 'Заказ комнаты' }],
                            },
                            {
                                name: 'Вакансии',
                            },
                            {
                                name: 'Новости',
                            },
                            {
                                name: 'Соглашения',
                                subitems: [
                                    { name: 'Правила' },
                                    { name: 'Конфиденциальность' },
                                ],
                            }
                        ].map((item, index) => ({ ...item, isActive: activeLink === index })),
                        withJs: true,
                    })

                if userName
                    .header__user= userName
                else
                    .header__buttons
                        +button({
                            text: 'Войти',
                            hasLink: true,
                            link: 'login-and-registration.html?action=login',
                            modifiers: {
                                isSecondary: true,
                                isNarrow: true,
                            }
                        })
                        +button({
                            text: 'Зарегистрироваться',
                            hasLink: true,
                            link: 'login-and-registration.html?action=registration',
                            modifiers: {
                              isNarrow: true,
                            }
                        })
            button.header__hamburger.js-header__hamburger
                .header__hamburger-icon
