include ../button/button
include ../navigation/navigation


mixin header({userName, activeLink = 0} = {})
    header.header.js-header
        .header__container
            a.header__logo(href='landing-page.html')
                img(src='images/logo.svg', alt='logo')
            .header__menu.js-header__menu
                nav.header__nav-container
                    +navigation({
                        activeLinkIndex: activeLink,
                        items: [
                            {
                                name: 'О нас',
                                isDropdown: false
                            },
                            {
                                name: 'Услуги',
                                isDropdown: true
                            },
                            {
                                name: 'Вакансии',
                                isDropdown: false
                            },
                            {
                                name: 'Новости',
                                isDropdown: false
                            },
                            {
                                name: 'Соглашения',
                                isDropdown: true
                            }
                        ],
                        withJs: true,
                    })

                if userName
                    .header__user= userName
                else
                    .header__buttons
                        +button({
                            text: 'Войти',
                            link: 'login-and-registration.html',
                            modifiers: {
                                isSecondary: true
                            }
                        })
                        +button({
                            text: 'Зарегистрироваться',
                            link: 'login-and-registration.html'
                        })
            .header__hamburger.js-header__hamburger
                span.header__hamburger-line
                span.header__hamburger-line
                span.header__hamburger-line
