@import '@/sass/colors'


.header
  width: 100%
  height: 70px
  box-sizing: border-box
  padding: 0 140px
  background-color: #fff
  box-shadow: 0 10px 20px 0 $dark-shade-5
  position: relative
  z-index: 10


@media screen and (max-width: 500px)
  .header
    padding: 0 20px


@import '__container/header__container'
