.header
  width: 100%
  height: 70px
  box-sizing: border-box
  padding: 0 140px
  background-color: #fff
  box-shadow: 0 10px 20px 0 $dark-shade-5
  position: relative
  z-index: 10

  &__nav-container
    margin-right: 22px
    display: flex
    align-items: center

  &__buttons
    display: grid
    grid-template-columns: auto auto
    grid-column-gap: 20px

  &__user
    position: relative
    display: flex
    align-items: center
    font-size: 1rem
    line-height: (17rem / 14)
    color: $dark-shade-50

    &:before
      content: ''
      height: 30px
      width: 1px
      background-color: $dark-shade-10
      margin-right: 20px

  &__menu
    display: flex

    &_hidden
      display: none

  &__hamburger-line
    width: 100%
    height: 2px
    background-color: $dark-shade-25

  &__hamburger
    height: 30px
    width: 40px
    display: none
    flex-direction: column
    justify-content: space-between
    background-color: transparent
    border: none
    cursor: pointer

    &_visible
      display: flex

  &__logo
    display: flex

  &__container
    max-width: 1160px
    width: 100%
    height: 100%
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center

@media screen and (max-width: 1200px)
  .header
    &__nav-container
      margin-right: 0
      margin-bottom: 40px

    &__buttons
      grid-template-columns: auto
      grid-template-rows: auto auto
      grid-row-gap: 20px

    &__user
      &:before
        display: none

    &__menu
      flex-direction: column
      position: absolute
      padding: 20px
      top: 100%
      right: 140px
      z-index: 5
      background-color: #fff
      border: 1px solid $dark-shade-25

@media screen and (max-width: 500px)
  .header
    padding: 0 20px

    &__menu
      right: 20px
