.room-card__slider
  max-height: 151.38px
  position: relative

  .slick-list
    height: 100%
  .slick-dots
    margin: 0
    display: flex
    width: 41.25px
    height: 7.5px
    justify-content: space-between
    position: absolute
    right: 15px
    bottom: 19px
    list-style: none
    li
      button
        padding: 0
        color: transparent
        border: 1px solid #fff
        background: none
        width: 7.5px
        height: 7.5px
        border-radius: 50%
        outline: none
        cursor: pointer
    .slick-active button
      background: #fff
  .slick-arrow
    display: none


@import '../__img/room-card__img'

@import '_with-arrows/room-card__slider_with-arrows'
