@import '@/styles/colors'

.registration
  height: 684px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  position: relative
  background: url("images/registration-bg.jpg") no-repeat center center
  background-size: cover

  &__card
    margin-left: 5px
    width: 380px
