extends ../../../templates/website-pages

include ../../../common.blocks/signup-card/signup-card

block vars
    - const title = 'Registration';
    - const name = 'registration';

block content
    main.registration
        .registration__card
            +signup-card
