.comment__user-name
  margin-left: 9px
  margin-top: 4px
  display: inline-block
  font-family: Montserrat, Arial, sans-serif
  font-weight: bold
  font-size: 1rem
  line-height: (18rem / 14)
  color: $dark-shade-75
