include ../../../text-field/text-field


mixin signup-card__email
    .signup-card__email
        +text-field({
            inputOptions: {
                type: 'email',
                placeholder: 'Email'
            }
        })
