@import '@/sass/colors'


.rate-button
  max-width: 120px
  width: 100%
  display: inline-flex
  justify-content: space-between
  &__star
    &:after
      content: 'star_border'
      background: $purple-gradient
      -webkit-text-fill-color: transparent
      -webkit-background-clip: text
    &_active
      &:after
        content: 'star'
