mixin rate-button(currentRating)
    ul.rate-button
        - for (let i = 1; i <= 5; i += 1)
            -
                const active = i <= currentRating;
                let className = 'material-icons rate-button__star';
                if (active) {
                    className += ' rate-button__star_active';
                }
            li(class=className)
