.checkbox-buttons__name
  padding-left: 30px
  display: inline-flex
  user-select: none
  position: relative
  font-family: Montserrat, Arial, sans-serif
  font-size: 1rem
  line-height: 20px
  color: $dark-shade-50
  box-sizing: border-box
  &:before
    content: ''
    width: 20px
    height: 20px
    position: absolute
    left: 0
    top: 0
    box-sizing: border-box
    border: 1px solid #adb5bd
    display: inline-block
    border-radius: 4px
    margin-right: 0.5em
    cursor: pointer
    background-repeat: no-repeat
    background-position: 50% 40%
