include __text-field/dropdown__text-field
include __popup/dropdown__popup


//-
    inputOptions: {
        value: string
        placeholder: string
    } | [
        {
            value: string
            placeholder: string
        },
        {
            value: string
            placeholder: string
        }
    ]
    popupMixinOptions: {
        name: string
        params: mixinParameters
    } !Mixin must be included in the file where +dropdown is called
    hiddenPopup: boolean
    title: string | Array<string> | false
    double: boolean
    short: false
mixin dropdown({inputOptions = {}, popupMixinOptions = {}, hiddenPopup = true, title = false, double = false, short = false} = {})
    -
        let className = 'dropdown';
        if (double) {
            className += ' dropdown_double';
        }
        if (short) {
          className += ' dropdown_short';
        }

        if (double) {
            if (!Array.isArray(title)) {
                title = [title, title];
            }
            if (!Array.isArray(inputOptions)) {
                inputOptions = [inputOptions, inputOptions];
            }
        }
    div(class=className)
        if (double)
            +dropdown__text-field({
                inputOptions: inputOptions[0],
                title: title[0],
            })
            +dropdown__text-field({
                inputOptions: inputOptions[1],
                title: title[1],
            })
        else
            +dropdown__text-field({
                inputOptions,
                title,
            })
        +dropdown__popup({
            mixinName: popupMixinOptions.name,
            mixinParams: popupMixinOptions.params,
            hidden: hiddenPopup
        })
