include ../text-field/text-field


mixin dropdown({inputOptions = {}, popupMixinOptions = {}, popupHidden = true, title, isDouble = false, isShort = false, defaultInputValue = ''} = {})
    -
        let className = 'dropdown js-dropdown';
        if (isDouble) {
            className += ' dropdown_double';
        }
        if (isShort) {
          className += ' dropdown_short';
        }

        if (isDouble) {
            if (!Array.isArray(title)) {
                title = [title, title];
            }
            if (!Array.isArray(inputOptions)) {
                inputOptions = [inputOptions, inputOptions];
            }
        }
    section(class=className data-default-value=JSON.stringify(defaultInputValue))
        if (isDouble)
            .dropdown__text-field.js-dropdown__text-field
                if (title[0])
                    header.dropdown__title
                        +heading({
                            text: title[0],
                        })
                +text-field({
                    inputOptions: {
                        ...inputOptions[0],
                        isMaskedDate: false,
                        isReadonly: true,
                        withJs: true,
                    },
                    arrowOptions: {},
                    modifiers: {
                        isFocused: !popupHidden,
                        isBottomFlat: !popupHidden,
                    },
                    withJs: true,
                })
            .dropdown__text-field.js-dropdown__text-field
                if (title[1])
                    header.dropdown__title
                        +heading({
                            text: title[1],
                        })
                +text-field({
                    inputOptions: {
                        ...inputOptions[1],
                        isMaskedDate: false,
                        isReadonly: true,
                        withJs: true,
                    },
                    arrowOptions: {},
                    modifiers: {
                        isFocused: !popupHidden,
                        isBottomFlat: !popupHidden,
                    },
                    withJs: true,
                })
        else
            .dropdown__text-field.js-dropdown__text-field
                if (title)
                    header.dropdown__title
                        +heading({
                            text: title,
                        })
                +text-field({
                    inputOptions: {
                        ...inputOptions,
                        isMaskedDate: false,
                        isReadonly: true,
                        withJs: true,
                    },
                    arrowOptions: {},
                    modifiers: {
                        isFocused: !popupHidden,
                        isBottomFlat: !popupHidden,
                    },
                    withJs: true,
                })

        .dropdown__popup.js-dropdown__popup(class=`${popupHidden ? 'dropdown__popup_hidden' : false}`)
            if (popupMixinOptions.name)
                +#{popupMixinOptions.name}(popupMixinOptions.params)
