@import '@/styles/colors'

.dropdown
  max-width: 320px
  width: 100%
  position: relative
  z-index: 1

  &__popup
    min-width: 100%
    box-sizing: border-box
    position: absolute
    top: calc(100% - 1px)
    background-color: #fff
    overflow: hidden
    border: 1px solid $dark-shade-50
      bottom-left-radius: 4px
      bottom-right-radius: 4px

    &_hidden
      display: none

  &__text-field
    position: relative
    z-index: 1

  &__title
    margin-bottom: 5px

  &_double
    display: flex
    justify-content: space-between

    @media (max-width: 380px)
      flex-direction: column
      row-gap: 20px

    .dropdown__text-field
      max-width: 150px

      @media (max-width: 380px)
        max-width: unset

  &_short
    max-width: 266px

  &_with-distant-popup
    .dropdown__popup
      top: calc(100% + 5.5px)
      border: 1px solid $dark-shade-25
      border-radius: 4px
