include __text-field/dropdown__text-field
include __popup/dropdown__popup


mixin dropdown({inputOptions = {}, popupMixinOptions = {}, popupHidden = true, title, isDouble = false, isShort = false} = {})
    -
        let className = 'dropdown';
        if (isDouble) {
            className += ' dropdown_double';
        }
        if (isShort) {
          className += ' dropdown_short';
        }

        if (isDouble) {
            if (!Array.isArray(title)) {
                title = [title, title];
            }
            if (!Array.isArray(inputOptions)) {
                inputOptions = [inputOptions, inputOptions];
            }
        }
    div(class=className)
        if (isDouble)
            +dropdown__text-field({
                inputOptions: inputOptions[0],
                title: title[0],
                isActive: !popupHidden
            })
            +dropdown__text-field({
                inputOptions: inputOptions[1],
                title: title[1],
                isActive: !popupHidden
            })
        else
            +dropdown__text-field({
                inputOptions,
                title,
                isActive: !popupHidden
            })
        +dropdown__popup({
            mixinName: popupMixinOptions.name,
            mixinParams: popupMixinOptions.params,
            hidden: popupHidden
        })
