include ../social-links/social-links


mixin footer-creative
    .footer-creative
        img.footer-creative__logo(src='images/logo.svg', alt='logo')
        .footer-creative__copyright Copyright © 2018 Toxin отель. Все права зачищены.
        .footer-creative__social
            +social-links
