include __body/footer__body
include __bottom/footer__bottom


mixin footer
    -
        const navLinks = ['О нас', 'Новости', 'Служба поддержки', 'Услуги']
        const aboutLinks = ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']
        const supportLinks = ['Соглашения', 'Сообщества', 'Связь с нами']


    footer.footer
        +footer__body
        +footer__bottom
