.footer
  width: 100%
  box-sizing: border-box
  position: relative
  background-color: #fff
  box-shadow: 0 10px 20px 0 $dark-shade-5
  z-index: 1

  &__description
    margin: 10px 0 0

  &__subtitle
    margin-bottom: 21px
    margin-top: 5px

  &__menu
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-column-gap: 40px

  &__subscription-text
    margin-bottom: 20px

  &__subscription
    display: flex
    flex-direction: column

  &__body
    max-width: 1160px
    margin: 0 auto
    padding: 100px 140px
    display: grid
    grid-template-columns: 260px 1fr 260px
    grid-gap: 40px

  &__bottom
    width: 100%
    border-top: 1px solid #e5e5e5

  &__bottom-container
    max-width: 1160px
    margin: 0 auto
    box-sizing: border-box
    padding: 23px 0
    position: relative
    display: flex
    justify-content: space-between
    align-items: center


@media screen and (max-width: 1200px)
  .footer
    &__body
      grid-template-columns: 1fr
      grid-template-rows: auto auto auto

    &__bottom-container
      flex-direction: column
      justify-content: center

@media screen and (max-width: 800px)
  .footer
    padding: 0 20px

    &__menu
      grid-template-columns: auto
      grid-template-rows: auto auto auto
      grid-row-gap: 40px
      justify-content: center

@media screen and (max-width: 750px)
  .footer
    padding: 118px 0

    &__main-info
      display: flex

    &__description
      display: none

    &__menu
      display: none

    &__subscription
      display: none

    &__body
      display: flex
      justify-content: center
      padding: 0

    &__bottom
      border: none

    &__bottom-container
      padding: 0
      margin-top: 18px

    &__copyright
      margin-bottom: 22px
      text-align: center