include __item/icon-text-list__item


//-
    items: Array<{
        iconName: string
        title: string
        description: string
    }>
mixin icon-text-list(items)
    .icon-text-list
        each item in items
            +icon-text-list__item(item)
