mixin icon-text-list(items)
    ul.icon-text-list
        each item in items
            li.icon-text-list__item
                span.icon-text-list__icon.material-icons= item.iconName
                h4.icon-text-list__title= item.title
                p.icon-text-list__description= item.description
