mixin checkbox-buttons(title, checkboxes)
    .checkboxes
        if title
            h3.checkboxes__title= title

        .checkboxes__buttons
            each elem in checkboxes
                label.checkboxes__button.checkbox-button
                    input.checkbox-button__input(
                        type="checkbox",
                        checked= elem.checked
                    )
                    span.checkbox-button__name !{elem.name}



