include ../../button/button


mixin items-counter__clear-button
    .items-counter__clear-button
        +button({
            text: 'Очистить',
            hasLink: false,
            modifiers: {
                withoutFrame: true,
                textColor: 'gray'
          }
        })
