@import '@blocks/header/header'
@import '@blocks/footer/footer'
@import '@blocks/cards/signup-card/signup-card'
@import '@blocks/cards/signin-card/signin-card'


.login-and-registration
    height: 684px
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    position: relative
    &_login
        height: 702px

    &__bg-img
        z-index: -1
        min-width: 100%
        position: absolute

    &__signin-card
        display: none
