@import '@/common.blocks/header/header'
@import '@/common.blocks/footer/footer'
@import '@/common.blocks/signup-card/signup-card'
@import '@/common.blocks/signin-card/signin-card'


.login-and-registration
    height: 684px
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    position: relative
    background: url("images/login-registration-bg.jpg") no-repeat center center
    background-size: cover

    &_login
        height: 702px

    &__signup-card
        margin-left: 5px
        width: 380px

    &__signin-card
        display: none
        width: 380px
