@import '@blocks/header/header'
@import '@blocks/footer/footer'
@import '@blocks/cards/signup/signup-card'
@import '@blocks/cards/signin/signin-card'


.login-and-registration
    height: 684px
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    position: relative
.login-and-registration_login
    height: 702px


.login-and-registration__bg-img
    z-index: -1
    min-width: 100%
    position: absolute


.login-and-registration__signin-card
    display: none

