extends ../../../templates/website-pages

include ../../../common.blocks/signup-card/signup-card
include ../../../common.blocks/signin-card/signin-card


block vars
    - const title = 'Login and registration'

block content
    article.login-and-registration.js-login-and-registration
        .login-and-registration__signup-card.js-login-and-registration__signup-card
            +signup-card
        .login-and-registration__signin-card.js-login-and-registration__signin-card
            +signin-card
