.footer__body
  max-width: 1160px
  margin: 0 auto
  box-sizing: border-box
  padding: 100px 0
  display: grid
  grid-template-columns: 260px 1fr 260px
  grid-gap: 40px


@media screen and (max-width: 1200px)
  .footer__body
    grid-template-columns: 1fr
    grid-template-rows: auto auto auto


@import '../__main-info/footer__main-info'
@import '../__menu/footer__menu'
@import '../__subscription/footer__subscription'
