include ../__main-info/footer__main-info
include ../__menu/footer__menu
include ../__subscription/footer__subscription


mixin footer__body
    .footer__body
        +footer__main-info
        +footer__menu
        +footer__subscription
