include ../../heading/heading


mixin donut-chart__value(value= 260)
    .donut-chart__value
        +heading({
            type: 'h1',
            text: value,
            color: 'purple'
        })
