include ../checkbox-buttons/checkbox-buttons

mixin list(title, checkboxes, modName)
    -
        let additionalClassName = '';
        if (modName) {
            if (Array.isArray(modName)) {
                modName.forEach((val) => {
                    additionalClassName += `list_${val}`;
                });
            } else {
                additionalClassName = `list_${modName}`;
            }
        }
    .list(class=additionalClassName)
        .list__title
            h3.list__text= title
            .material-icons.list__arrow expand_more
        .list__checkboxes
            +checkbox-buttons(false, checkboxes)
