@import '@/common.blocks/heading/heading'


.expandable-checkboxes__title
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  user-select: none


@import '../__arrow/expandable-checkboxes__arrow'
