extends ../../../templates/website-pages

include ../../../common.blocks/signup-card/signup-card
include ../../../common.blocks/signin-card/signin-card


block vars
    - const title = 'Login'

block content
    main.login
        .login__card
            +signin-card
