@import '@/styles/colors'

.login
  height: 702px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  position: relative
  background: url("images/login-bg.jpg") no-repeat center center
  background-size: cover

  &__card
    width: 380px
