extends ../../../templates/website-pages

include ../../../common.blocks/signin-card/signin-card

block vars
    - const title = 'Login';
    - const name = 'login';

block content
    main.login
        .login__card
            +signin-card
