@import '@/sass/colors'


.room-info__price
  font-family: Montserrat, Arial, sans-serif
  font-weight: bold
  line-height: (18rem / 14)
  color: $dark-shade-50
  display: flex
  align-items: flex-end


@import '../__price-measure/room-info__price-measure'
