.like-button
    $selector: &
    width: 40px
    height: 20px
    border: 1px solid $dark-shade-25
    border-radius: 10px
    position: relative
    display: inline-block
    margin-right: 6px
    cursor: pointer
    box-sizing: border-box
    &__like-num
        position: absolute
        right: 4px
    &__heart
        position: absolute
        left: 4px
        top: -55%
        &:after
            content: 'favorite_border'
            font-size: (10rem / 14)
            color: $dark-shade-25
    &__like-num
        width: 20px
        font-family: Montserrat, Arial, sans-serif
        font-size: (10rem / 14)
        line-height: (12rem / 14)
        display: flex
        align-items: center
        justify-content: center
        height: 100%

        color: $dark-shade-25
    &_active
        border-color: $purple
        #{$selector}__heart
            &:after
                content: 'favorite'
                color: $purple
        #{$selector}__like-num
            color: $purple
