.like-button
    width: 40px
    height: 20px
    border: 1px solid $dark-shade-25
    border-radius: 10px
    position: relative
    display: inline-block
    margin-right: 6px
    cursor: pointer
    box-sizing: border-box


.like-button__like-num
    position: absolute
    right: 4px

.like-button__heart
    position: absolute
    left: 4px
    top: -55%
    &:after
        content: 'favorite_border'
        font-size: 10px
        color: $dark-shade-25

.like-button__like-num
    width: 20px
    font-family: Montserrat, sans-serif
    font-size: 10px
    line-height: 12px
    display: flex
    align-items: center
    justify-content: center
    height: 100%

    color: $dark-shade-25



.like-button_active
    border-color: $purple
    .like-button__heart
        &:after
            content: 'favorite'
            color: $purple
    .like-button__like-num
        color: $purple