include ../heading/heading
include ../arrow/arrow
include ../checkbox-buttons/checkbox-buttons

mixin expandable-checkboxes({ title = 'Expandable checkbox list', items, expanded = false })
    -
        let className = 'expandable-checkboxes js-expandable-checkboxes';
        if (expanded) {
            className += ' expandable-checkboxes_expanded';
        }
    div(class=className)
        .expandable-checkboxes__title.js-expandable-checkboxes__title(role="button")
            +heading({ text: title })
            .expandable-checkboxes__arrow
                +arrow()
        .expandable-checkboxes__checkboxes.js-expandable-checkboxes__checkboxes
            +checkbox-buttons({ items })
