@import '@/sass/colors'

.header
    width: 100%
    height: 70px
    background-color: #fff
    padding: 0 140px
    box-sizing: border-box
    box-shadow: 0 10px 20px 0 $dark-shade-5

.header__logo
    margin-bottom: -5px

.header__container
    width: 1160px
    height: 100%
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center

.header__menu
    display: flex

.header__nav
    ul
        display: flex
        align-items: center
        height: 100%
        li
            margin-right: 21px
            display: flex
            align-items: center
            color: $dark-shade-50
            font-size: 14px
            line-height: 17px
        li.header__nav-item_active
            font-weight: bold
            color: $dark-shade-75

.header__buttons
    display: flex
    .button
        margin-right: 20px
        &:last-child
            margin-right: 0

.header__user
    padding-left: 20px
    position: relative
    display: flex
    align-items: center
    font-size: 14px
    line-height: 17px
    color: $dark-shade-50
    &:before
        content: ''
        height: 30px
        width: 1px
        background-color: $dark-shade-10
        position: absolute
        left: 0

.signup-button, .signin-button
    height: 34px

.signin-button
    min-width: 87px


.header__hamburger
    display: none
    flex-direction: column
    justify-content: space-between
    height: 30px
    span
        width: 40px
        height: 2px
        background-color: $dark-shade-25

@media screen and (max-width: 1470px)
    .header__container
        width: 100%

@media screen and (max-width: 1200px)
    .header__hamburger
        display: flex
    .header__menu
        display: none
        flex-direction: column
        min-width: 250px
    .header
        position: relative
    .header__menu
        position: absolute
        padding: 10px
        top: 100%
        right: 140px
        z-index: 1
        background-color: #fff
        border: 1px solid $dark-shade-25
    .header__nav
        ul
            flex-direction: column
            li
                margin-top: 10px
                height: 24px
                margin-right: 0

    .header__buttons
        margin-top: 10px
        flex-direction: column
        align-items: center
        .button
            margin: 0
            margin-top: 10px
    .header__user
        margin-top: 20px
        justify-content: center
        padding: 5px
        &:before
            top: 0
            width: 100%
            height: 1px

