.counting-item__change-button
  width: 30px
  height: 30px
  box-sizing: border-box
  border: 1px solid $dark-shade-25
    radius: 50%
  display: flex
  justify-content: center
  align-items: center
  color: $dark-shade-50
  cursor: pointer
  user-select: none


@import '_disabled/counting-item__change-button_disabled'
