include ../heading/heading


mixin type-demo(name, text, headerType)
    -
        let nameClassName = 'type-demo__name';
        if (headerType) {
            nameClassName += ` type-demo__name_type_${headerType}`;
        }
    .type-demo
        p(class=nameClassName)= name
        .type-demo__text-container
            if (headerType)
                +heading({
                  text,
                  type: headerType,
                })
            else
                p.type-demo__text !{text}
