include ../../../blocks/text-field/text-field
include ../../../blocks/radio-buttons/radio-buttons
include ../../../blocks/toggle-buttons/toggle-buttons
include ../../../blocks/button/button

mixin signup-card
    .signup-card
        h1.signup-card__title Регистрация аккаунта

        .signup-card__general-info
            .signup-card__name
                +text-field({
                  placeholder: 'Имя',
                  type: 'text',
                })
            .signup-card__surname
                +text-field({
                  placeholder: 'Фамилия',
                  type: 'text',
                })
            .signup-card__gender
                +radio-buttons(false, ['Мужчина', 'Женщина'], 'gender')
        .signup-card__birth
            +text-field({
              placeholder: 'ДД.ММ.ГГГГ',
              type: 'text',
              title: 'Дата рождения',
              className: 'js-masked-date',
            })

        .signup-card__login-details
            h3.signup-card__login-details-title Данные для входа в сервис
            .signup-card__email
                +text-field({
                  placeholder: 'Email',
                  type: 'email',
                })
            .signup-card__password
                +text-field({
                  placeholder: 'Пароль',
                  type: 'password',
                })

        .signup-card__offers
            +toggle-buttons(false, [{
                name: 'Получать спецпредложения',
                checked: false
            }])

        .signup-card__signup-btn
            +button('Перейти к оплате', 'extended')

        .signup-card__account-exists
            span Уже есть аккаунт на Toxin
            +button('Войти', 'secondary', '#')
