@import '@/sass/colors'


.dropdown__popup
  width: 100%
  box-sizing: border-box
  position: absolute
  top: calc(100% - 1px)
  background-color: #fff
  overflow: hidden
  border: 1px solid $dark-shade-50
    bottom-left-radius: 4px
    bottom-right-radius: 4px


@import '_hidden/dropdown__popup_hidden'
