include ../__input/radio-buttons__input
include ../__button-text/radio-buttons__button-text


mixin radio-buttons__button({inputName, checked, text})
    label.radio-buttons__button
        +radio-buttons__input({ inputName, checked })
        +radio-buttons__button-text(text)
