include ../../../rate-button/rate-button

include ../__comments/room-card__comments
include ../__comments-measure/room-card__comments-measure


mixin room-card__rating-and-comments({rating, numOfComments})
    .room-card__rating-and-comments
        +rate-button(rating)
        +room-card__comments(numOfComments)
