mixin bullet-list(title, items)
    .bullet-list
        if (title)
            h3.bullet-list__title= title
        ul.bullet-list__list
            each item in items
                li.bullet-list__item !{item}
