.bullet-list__list
    margin-top: 13px

.bullet-list__item
    padding-left: 21.5px
    position: relative
    margin-top: 10px
    &:before
        content: ''
        width: 10px
        height: 10px
        border-radius: 50%
        background-color: $dark-shade-25
        display: inline-block
        position: absolute
        left: 0
        top: 6px

