@import '@/sass/headings'


.bullet-list
    &__title
        +h3
    &__list
        list-style: none
        padding: 0
        margin-top: 13px
    &__item
        padding-left: 21.5px
        position: relative
        margin-top: 10px
        &:before
            content: ''
            width: 10px
            height: 10px
            border-radius: 50%
            background-color: $dark-shade-25
            display: inline-block
            position: absolute
            left: 0
            top: 6px
